# Death By Year Mapbox from 2011 - 2018

In [15]:
import pickle

In [16]:
objects = pickle.load(open('./death_by_province_by_year.pickle', 'rb'))

In [17]:
list = []
for prov in objects['province']:
    if prov not in list:
        list.append(prov)
list

['Aleppo',
 'Damascus',
 'Damascus Suburbs',
 'Daraa',
 'Deir Ezzor',
 'Hama',
 'Hasakeh',
 'Homs',
 'Idlib',
 'Lattakia',
 'Quneitra',
 'Raqqa',
 'Sweida',
 'Tartous']

In [18]:
year_list = []
for prov in objects['year']:
    if prov not in year_list:
        year_list.append(prov)
year_list

[2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]

In [19]:
final = objects

In [20]:
# remove the outlier, year 1970
#final = df.drop(index=88)

In [21]:
year_list = []
for prov in final['year']:
    if prov not in year_list:
        year_list.append(prov)
year_list

[2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]

In [22]:
print(final.to_string())

             province  year  casualties
0              Aleppo  2011         125
1              Aleppo  2012        5267
2              Aleppo  2013        6486
3              Aleppo  2014        5851
4              Aleppo  2015        3131
5              Aleppo  2016        5098
6              Aleppo  2017        1178
7              Aleppo  2018         482
8            Damascus  2011         134
9            Damascus  2012        2380
10           Damascus  2013        2423
11           Damascus  2014        1079
12           Damascus  2015         531
13           Damascus  2016         139
14           Damascus  2017         193
15           Damascus  2018         181
16   Damascus Suburbs  2011         356
17   Damascus Suburbs  2012        6953
18   Damascus Suburbs  2013        7960
19   Damascus Suburbs  2014        4245
20   Damascus Suburbs  2015        3486
21   Damascus Suburbs  2016        1936
22   Damascus Suburbs  2017        1400
23   Damascus Suburbs  2018        2160
24              Daraa  2011         472
25              Daraa  2012        2441
26              Daraa  2013        2660
27              Daraa  2014        2334
28              Daraa  2015        1920
29              Daraa  2016         955
30              Daraa  2017         939
31              Daraa  2018         206
32         Deir Ezzor  2011         176
33         Deir Ezzor  2012        2402
34         Deir Ezzor  2013        1447
35         Deir Ezzor  2014        1259
36         Deir Ezzor  2015        1018
37         Deir Ezzor  2016         933
38         Deir Ezzor  2017        1431
39         Deir Ezzor  2018         243
40               Hama  2011         738
41               Hama  2012        2785
42               Hama  2013        2137
43               Hama  2014        1553
44               Hama  2015         836
45               Hama  2016         753
46               Hama  2017         609
47               Hama  2018         276
48            Hasakeh  2011          56
49            Hasakeh  2012         320
50            Hasakeh  2013         308
51            Hasakeh  2014         156
52            Hasakeh  2015         290
53            Hasakeh  2016          82
54            Hasakeh  2017          10
55            Hasakeh  2018         116
56               Homs  2011        1529
57               Homs  2012        4860
58               Homs  2013        3603
59               Homs  2014        2018
60               Homs  2015        1227
61               Homs  2016        1073
62               Homs  2017         730
63               Homs  2018         284
64              Idlib  2011         574
65              Idlib  2012        4017
66              Idlib  2013        2856
67              Idlib  2014        2184
68              Idlib  2015        2081
69              Idlib  2016        2203
70              Idlib  2017        1081
71              Idlib  2018         670
72           Lattakia  2011         280
73           Lattakia  2012        1154
74           Lattakia  2013         782
75           Lattakia  2014         506
76           Lattakia  2015         238
77           Lattakia  2016          83
78           Lattakia  2017          17
79           Lattakia  2018          41
80           Quneitra  2011           7
81           Quneitra  2012         148
82           Quneitra  2013         347
83           Quneitra  2014         293
84           Quneitra  2015          66
85           Quneitra  2016          36
86           Quneitra  2017          48
87           Quneitra  2018          20
88              Raqqa  2011          24
89              Raqqa  2012         346
90              Raqqa  2013         558
91              Raqqa  2014         365
92              Raqqa  2015         126
93              Raqqa  2016         222
94              Raqqa  2017         792
95              Raqqa  2018         291
96             Sweida  2011          41
97             Sweida  2012         167
98             Sweida  2013         210
99             Sweida  2014         252
100            Sweida  2015         147
101            Sweida  2016          15
102            Sweida  2017          23
103            Sweida  2018         137
104           Tartous  2011         143
105           Tartous  2012         710
106           Tartous  2013        1310
107           Tartous  2014         863
108           Tartous  2015         548
109           Tartous  2016          59
110           Tartous  2017          20
111           Tartous  2018          15

In [42]:
import pickle
final = pickle.load(open('./death_by_province_by_year.pickle', 'rb'))
print(final.to_string())

# reference: https://plot.ly/python/scattermapbox/
import plotly.plotly as py
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

mapbox_access_token = 'pk.eyJ1IjoibWF0dGhld2lydHoiLCJhIjoiY2p3ZTNpNXlnMHYxcjQ5bzdwMjc0anlpeSJ9.bSLA-SSqEomk0hC52rNliQ'

# first year
year = 2011

# for every year we need the latitude, longitude, and the # of casualties
# we have a for loop for each year of the Syrian War
data_slider = []
for year in final['year'].unique():
    sect =  final[(final['year']== year)]

    for col in df_segmented.columns:
        sect[col] = sect[col].astype(str)
        
    data_each_yr = go.Scattermapbox(
        name=str(year),
        lat=['36.2021',
             '33.5138',
             '33.5167',
             '32.6264',
             '35.3297',
             '35.1409',
             '36.5079',
             '34.7324',
             '35.9310',
             '33.1219',
             '35.5407',  
             '35.9594',  
             '32.7129', 
             '34.8959'],
        lon=['37.1343',
             '36.2765',
             '36.9541',
             '36.1033',
             '40.1350',
             '36.7552',
             '40.7463',
             '36.7137',
             '36.6418',
             '35.8209',
             '35.7953', 
             '38.9981',  
             '36.5663',
             '35.8867'],
        text=["Aleppo",
              "Damascus",
              "Rural Damascus",
              "Daraa",
              "Deir Ezzor",
              "Hama",
              "Hasakeh",
              "Homs",
              "Idlib",
              "Lattakia",
              "Quneitra", 
              "Ar Raqqah", 
              "As Suwayda",
              "Tartus"],
        mode='markers',
        marker = go.scattermapbox.Marker(
            size = sect['casualties'].astype(int),
            color = colors[1],
            sizemode = 'area',
        ), visible=False
    )
    data_slider.append(data_each_yr)
        
steps = []
for i in range(len(data_slider)):
    step = dict(method='restyle',
                args=['visible', [False] * len(data_slider)],
                label='Year {}'.format(i + 2011))
    step['args'][1][i] = True
    steps.append(step)
    
sliders = [dict(active=0, pad={"t": 1}, steps=steps)]

layout = go.Layout(
    showlegend=False,
    title = go.layout.Title(
            text = '2011-2018 Syrian Casualties'
        ),
    autosize=True,
    hovermode='closest',
    sliders=sliders,
    mapbox=go.layout.Mapbox(
        accesstoken=mapbox_access_token,
        bearing=0,
        center=go.layout.mapbox.Center(
            lat=34.7,
            lon=37.2
        ),
        pitch=0,
        zoom=5.4
    ),
)

fig = go.Figure(data=data_slider, layout=layout)
py.iplot(fig, filename='Multiple-Mapbox.html')
# plot(fig, filename='Multiple-Mapbox.html')
# use ^ to have the graph open into a seperate tab

/Users/MattWirtz/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

'Multiple-Mapbox.html'

# Death By Day Mapbox 2011 - 2018

In [10]:
dayFrame = pickle.load(open('./death_by_province_by_day.pickle', 'rb'))

In [11]:
dayFrame

      province        day  casualties
0       Aleppo 2011-04-09           2
1       Aleppo 2011-04-10           1
2       Aleppo 2011-04-13           1
3       Aleppo 2011-04-25           1
4       Aleppo 2011-04-27           1
5       Aleppo 2011-04-29           2
6       Aleppo 2011-04-30           1
7       Aleppo 2011-05-02           1
8       Aleppo 2011-05-18           1
9       Aleppo 2011-05-28           1
10      Aleppo 2011-06-02           1
11      Aleppo 2011-06-04           2
12      Aleppo 2011-06-05           1
13      Aleppo 2011-06-10           1
14      Aleppo 2011-06-30           1
15      Aleppo 2011-07-01           1
16      Aleppo 2011-07-08           1
17      Aleppo 2011-07-14           2
18      Aleppo 2011-07-15           2
19      Aleppo 2011-07-16           1
20      Aleppo 2011-07-22           1
21      Aleppo 2011-07-28           1
22      Aleppo 2011-07-31           4
23      Aleppo 2011-08-07           1
24      Aleppo 2011-08-10           1
25      Aleppo 2011-08-12           4
26      Aleppo 2011-08-21           1
27      Aleppo 2011-08-22           1
28      Aleppo 2011-08-23           1
29      Aleppo 2011-08-25           1
...        ...        ...         ...
20494  Tartous 2016-02-29           3
20495  Tartous 2016-03-02           1
20496  Tartous 2016-03-03           1
20497  Tartous 2016-03-05           1
20498  Tartous 2016-03-06           3
20499  Tartous 2016-03-09           1
20500  Tartous 2016-03-10           6
20501  Tartous 2016-03-11           3
20502  Tartous 2016-04-23           1
20503  Tartous 2016-04-28           1
20504  Tartous 2016-05-07           1
20505  Tartous 2016-10-12           1
20506  Tartous 2017-01-18           2
20507  Tartous 2017-01-30           1
20508  Tartous 2017-01-31           4
20509  Tartous 2017-02-01           1
20510  Tartous 2017-02-10           1
20511  Tartous 2017-02-11           2
20512  Tartous 2017-02-23           1
20513  Tartous 2017-02-25           1
20514  Tartous 2017-03-13           1
20515  Tartous 2017-04-16           1
20516  Tartous 2017-04-29           4
20517  Tartous 2017-06-06           1
20518  Tartous 2018-03-06           1
20519  Tartous 2018-03-08           6
20520  Tartous 2018-03-09           1
20521  Tartous 2018-03-10           4
20522  Tartous 2018-03-12           2
20523  Tartous 2018-03-21           1

[20524 rows x 3 columns]

In [14]:
from bokeh.io import output_file, show
from bokeh.models import ColumnDataSource, GMapOptions
from bokeh.plotting import gmap

# output_file("gmap.html")

map_options = GMapOptions(lat=34.9, lng=37.5, map_type="roadmap", zoom=7)

# For GMaps to function, Google requires you obtain and enable an API key:
#
#     https://developers.google.com/maps/documentation/javascript/get-api-key
#
# Replace the value below with your personal API key:
p = gmap("AIzaSyAIiLsih1uPqOLeoReG52CbJaOQr90gqcw", map_options, title="Syria")

source = ColumnDataSource(
    data=dict(lat=['33.5138','36.2021','33.5167',
             '34.7324','35.1409','35.5407',
             '35.9310','36.5079', '35.3297',
             '34.8959', '35.9594', '32.6264', 
             '32.7129', '33.1219'],
        lon=['36.2765','37.1343','36.9541',
             '36.7137','36.7552','35.7953',
             '36.6418','40.7463', '40.1350',
             '35.8867', '38.9981', '36.1033', 
             '36.5663', '35.8209'],
              text=["Damascus","Aleppo","Rural Damascus",
             "Homs","Hama","Lattakia", "Idlib","Al Hasakah", 
              "Deir ez-Zur", "Tartus", "Ar Raqqah", "Daraa", 
              "As Suwayda", "Quneitra"]
)
)

p.circle(x="lon", y="lat", size=15, fill_color="blue", fill_alpha=0.8, source=source)

show(p)