## What I was Thinking

```2011-2018_monthly_refugee.csv``` contains data about the number of refugees taking shelter in what countries in what year. I was thinking of displaying a world map and depending on the number of refugees seen in the country in each, color each country accordingly. Somewhere down the line, we should add a scroll that allows the user to change the year and see the data change chronologically.

## What I Think Needs to be Done

Here is a tutorial for the plotly library: https://plot.ly/python/choropleth-maps/<br>
Here is a tutorial for creating a slider using plotly: https://plot.ly/python/gapminder-example/

If we do a world map, it would be better to use plotly since it has a world map already set for you. However, we need the country code to connect the map and the data in the csv, so... I don't really know what to do... Maybe Geopandas will actually be easier...

But if we do decide on plotly, we need to
1. find the country code and assign all rows a country code corresponding to the country
    1. https://www.kaggle.com/shep312/plotlycountrycodes
2. do some data wrangling and change some country names
    1. some country names have extra notes in the end, which we should delete
3. some values are represented with <b>*</b>, which means the data is confidential; those should be set to 0

## Relevant Libraries

In [1]:
# import plotly.plotly as py
# from plotly.grid_objs import Grid, Column
# from plotly.tools import FigureFactory as FF 

import pandas as pd
import time
import re

In [2]:
refugee_df = pd.read_csv('2011-2018_monthly_refugee.csv')
# refugee_df

In [ ]:
# displays list of unique country names in the data frame
# refugee_df['Country / territory of asylum/residence'].unique()

Replace:
1. Czech Rep. --> Czech Republic
2. United Kingdom of Great Britain and Northern Ireland --> ??? (currently United Kingdom)
3. Rep. of Korea --> Korea, South
4. The former Yugoslav Rep. of Macedonia --> Macedonia
5. USA (INS/DHS) --> United States
6. USA (EOIR) --> United States
7. Serbia and Kosovo: S/RES/1244 (1999) --> Serbia

In [3]:
code_df = pd.read_csv('plotly_countries_and_codes.csv')
# code_df

In [ ]:
# displays list of unique country names in the data frame
# code_df['COUNTRY'].unique()

In [4]:
# replacing values in refugee_df dataframe
new_refugee_df = refugee_df.replace({
    'Czech Rep.': 'Czech Republic',
    'United Kingdom of Great Britain and Northern Ireland': 'United Kingdom',
    'Rep. of Korea': 'Korea, South',
    'The former Yugoslav Rep. of Macedonia': 'Macedonia',
    'USA (INS/DHS)': 'United States',
    'USA (EOIR)': 'United States',
    'Serbia and Kosovo: S/RES/1244 (1999)': 'Serbia'
})

In [5]:
# joining two tables together
merged_df = new_refugee_df.set_index('Country / territory of asylum/residence').join(code_df.set_index('COUNTRY'))
merged_df

                         Origin  Year      Month Value  GDP (BILLIONS) CODE
Albania        Syrian Arab Rep.  2012   December     3            13.4  ALB
Albania        Syrian Arab Rep.  2013      March     8            13.4  ALB
Albania        Syrian Arab Rep.  2013     August     4            13.4  ALB
Albania        Syrian Arab Rep.  2013  September     4            13.4  ALB
Albania        Syrian Arab Rep.  2013   December     8            13.4  ALB
Albania        Syrian Arab Rep.  2014        May     1            13.4  ALB
Albania        Syrian Arab Rep.  2014       June     1            13.4  ALB
Albania        Syrian Arab Rep.  2014       July    10            13.4  ALB
Albania        Syrian Arab Rep.  2014     August     6            13.4  ALB
Albania        Syrian Arab Rep.  2014  September     4            13.4  ALB
Albania        Syrian Arab Rep.  2014    October    32            13.4  ALB
Albania        Syrian Arab Rep.  2014   November    30            13.4  ALB
Albania        Syrian Arab Rep.  2014   December     8            13.4  ALB
Albania        Syrian Arab Rep.  2015      April    28            13.4  ALB
Albania        Syrian Arab Rep.  2015        May     2            13.4  ALB
Albania        Syrian Arab Rep.  2015       June    37            13.4  ALB
Albania        Syrian Arab Rep.  2015     August     1            13.4  ALB
Albania        Syrian Arab Rep.  2015    October     3            13.4  ALB
Albania        Syrian Arab Rep.  2016        May    16            13.4  ALB
Albania        Syrian Arab Rep.  2016     August    23            13.4  ALB
Albania        Syrian Arab Rep.  2016  September    85            13.4  ALB
Albania        Syrian Arab Rep.  2016    October     8            13.4  ALB
Albania        Syrian Arab Rep.  2017    January     *            13.4  ALB
Albania        Syrian Arab Rep.  2017   February     *            13.4  ALB
Albania        Syrian Arab Rep.  2017        May     *            13.4  ALB
Albania        Syrian Arab Rep.  2017       June     6            13.4  ALB
Albania        Syrian Arab Rep.  2017       July     *            13.4  ALB
Albania        Syrian Arab Rep.  2017     August     8            13.4  ALB
Albania        Syrian Arab Rep.  2017  September     8            13.4  ALB
Albania        Syrian Arab Rep.  2017    October     *            13.4  ALB
...                         ...   ...        ...   ...             ...  ...
United States  Syrian Arab Rep.  2015  September     4         17420.0  USA
United States  Syrian Arab Rep.  2015    October    18         17420.0  USA
United States  Syrian Arab Rep.  2015   November    14         17420.0  USA
United States  Syrian Arab Rep.  2015   December    14         17420.0  USA
United States  Syrian Arab Rep.  2016    January    17         17420.0  USA
United States  Syrian Arab Rep.  2016   February    12         17420.0  USA
United States  Syrian Arab Rep.  2016      March     4         17420.0  USA
United States  Syrian Arab Rep.  2016      April    16         17420.0  USA
United States  Syrian Arab Rep.  2016        May     7         17420.0  USA
United States  Syrian Arab Rep.  2016       June     8         17420.0  USA
United States  Syrian Arab Rep.  2016       July    14         17420.0  USA
United States  Syrian Arab Rep.  2016     August    17         17420.0  USA
United States  Syrian Arab Rep.  2016  September    19         17420.0  USA
United States  Syrian Arab Rep.  2016    October    10         17420.0  USA
United States  Syrian Arab Rep.  2016   November    19         17420.0  USA
United States  Syrian Arab Rep.  2016   December    13         17420.0  USA
United States  Syrian Arab Rep.  2017    January     8         17420.0  USA
United States  Syrian Arab Rep.  2017   February    12         17420.0  USA
United States  Syrian Arab Rep.  2017      March    14         17420.0  USA
United States  Syrian Arab Rep.  2017      April    17         17420.0  USA
United States  Syrian Arab Rep.  2017        May    17         17420.0  USA
United States  Syrian Arab Rep.  2017       June     8         17420.0  USA
United States  Syrian Arab Rep.  2017       July     7         17420.0  USA
United States  Syrian Arab Rep.  2017     August     6         17420.0  USA
United States  Syrian Arab Rep.  2017  September     5         17420.0  USA
United States  Syrian Arab Rep.  2017    October     8         17420.0  USA
United States  Syrian Arab Rep.  2017   November    10         17420.0  USA
United States  Syrian Arab Rep.  2018    January     6         17420.0  USA
United States  Syrian Arab Rep.  2018   February     8         17420.0  USA
United States  Syrian Arab Rep.  2018      March     *         17420.0  USA

[3309 rows x 6 columns]