## What I was Thinking

```2011-2018_monthly_refugee.csv``` contains data about the number of refugees taking shelter in what countries in what year. I was thinking of displaying a world map and depending on the number of refugees seen in the country in each, color each country accordingly. Somewhere down the line, we should add a scroll that allows the user to change the year and see the data change chronologically.

## What I Think Needs to be Done

Here is a tutorial for the plotly library: https://plot.ly/python/choropleth-maps/<br>
Here is a tutorial for creating a slider using plotly: https://plot.ly/python/gapminder-example/

If we do a world map, it would be better to use plotly since it has a world map already set for you. However, we need the country code to connect the map and the data in the csv, so... I don't really know what to do... Maybe Geopandas will actually be easier...

But if we do decide on plotly, we need to
1. find the country code and assign all rows a country code corresponding to the country
    1. https://www.kaggle.com/shep312/plotlycountrycodes
2. do some data wrangling and change some country names
    1. some country names have extra notes in the end, which we should delete
3. some values are represented with <b>*</b>, which means the data is confidential; those should be set to 0

## Relevant Libraries

In [1]:
# import plotly.plotly as py
# from plotly.grid_objs import Grid, Column
# from plotly.tools import FigureFactory as FF 

import pandas as pd
import time
import re
import numpy as np

In [2]:
refugee_df = pd.read_csv('2011-2018_monthly_refugee.csv')
# refugee_df

In [ ]:
# displays list of unique country names in the data frame
# refugee_df['Country / territory of asylum/residence'].unique()

Replace:
1. Czech Rep. --> Czech Republic
2. United Kingdom of Great Britain and Northern Ireland --> ??? (currently United Kingdom)
3. Rep. of Korea --> Korea, South
4. The former Yugoslav Rep. of Macedonia --> Macedonia
5. USA (INS/DHS) --> United States
6. USA (EOIR) --> United States
7. Serbia and Kosovo: S/RES/1244 (1999) --> Serbia

In [3]:
code_df = pd.read_csv('plotly_countries_and_codes.csv')
code_df

                    COUNTRY  GDP (BILLIONS) CODE
0               Afghanistan           21.71  AFG
1                   Albania           13.40  ALB
2                   Algeria          227.80  DZA
3            American Samoa            0.75  ASM
4                   Andorra            4.80  AND
5                    Angola          131.40  AGO
6                  Anguilla            0.18  AIA
7       Antigua and Barbuda            1.24  ATG
8                 Argentina          536.20  ARG
9                   Armenia           10.88  ARM
10                    Aruba            2.52  ABW
11                Australia         1483.00  AUS
12                  Austria          436.10  AUT
13               Azerbaijan           77.91  AZE
14             Bahamas, The            8.65  BHM
15                  Bahrain           34.05  BHR
16               Bangladesh          186.60  BGD
17                 Barbados            4.28  BRB
18                  Belarus           75.25  BLR
19                  Belgium          527.80  BEL
20                   Belize            1.67  BLZ
21                    Benin            9.24  BEN
22                  Bermuda            5.20  BMU
23                   Bhutan            2.09  BTN
24                  Bolivia           34.08  BOL
25   Bosnia and Herzegovina           19.55  BIH
26                 Botswana           16.30  BWA
27                   Brazil         2244.00  BRA
28   British Virgin Islands            1.10  VGB
29                   Brunei           17.43  BRN
..                      ...             ...  ...
192                  Sweden          559.10  SWE
193             Switzerland          679.00  CHE
194                   Syria           64.70  SYR
195                  Taiwan          529.50  TWN
196              Tajikistan            9.16  TJK
197                Tanzania           36.62  TZA
198                Thailand          373.80  THA
199             Timor-Leste            4.51  TLS
200                    Togo            4.84  TGO
201                   Tonga            0.49  TON
202     Trinidad and Tobago           29.63  TTO
203                 Tunisia           49.12  TUN
204                  Turkey          813.30  TUR
205            Turkmenistan           43.50  TKM
206                  Tuvalu            0.04  TUV
207                  Uganda           26.09  UGA
208                 Ukraine          134.90  UKR
209    United Arab Emirates          416.40  ARE
210          United Kingdom         2848.00  GBR
211           United States        17420.00  USA
212                 Uruguay           55.60  URY
213              Uzbekistan           63.08  UZB
214                 Vanuatu            0.82  VUT
215               Venezuela          209.20  VEN
216                 Vietnam          187.80  VNM
217          Virgin Islands            5.08  VGB
218               West Bank            6.64  WBG
219                   Yemen           45.45  YEM
220                  Zambia           25.61  ZMB
221                Zimbabwe           13.74  ZWE

[222 rows x 3 columns]

In [ ]:
# displays list of unique country names in the data frame
# code_df['COUNTRY'].unique()

In [4]:
# replacing values in refugee_df dataframe
new_refugee_df = refugee_df.replace({
    'Czech Rep.': 'Czech Republic',
    'United Kingdom of Great Britain and Northern Ireland': 'United Kingdom',
    'Rep. of Korea': 'Korea, South',
    'The former Yugoslav Rep. of Macedonia': 'Macedonia',
    'USA (INS/DHS)': 'United States',
    'USA (EOIR)': 'United States',
    'Serbia and Kosovo: S/RES/1244 (1999)': 'Serbia'
})

In [5]:
# joining two tables together
merged_df = new_refugee_df.set_index('Country / territory of asylum/residence').join(code_df.set_index('COUNTRY'))
merged_df = merged_df.reset_index()
merged_df

,index,Origin,Year,Month,Value,GDP (BILLIONS),CODE
0,Albania,Syrian Arab Rep.,2012,December,3,13.4,ALB
1,Albania,Syrian Arab Rep.,2013,March,8,13.4,ALB
2,Albania,Syrian Arab Rep.,2013,August,4,13.4,ALB
3,Albania,Syrian Arab Rep.,2013,September,4,13.4,ALB
4,Albania,Syrian Arab Rep.,2013,December,8,13.4,ALB
5,Albania,Syrian Arab Rep.,2014,May,1,13.4,ALB
6,Albania,Syrian Arab Rep.,2014,June,1,13.4,ALB
7,Albania,Syrian Arab Rep.,2014,July,10,13.4,ALB
8,Albania,Syrian Arab Rep.,2014,August,6,13.4,ALB
9,Albania,Syrian Arab Rep.,2014,September,4,13.4,ALB
10,Albania,Syrian Arab Rep.,2014,October,32,13.4,ALB
11,Albania,Syrian Arab Rep.,2014,November,30,13.4,ALB
12,Albania,Syrian Arab Rep.,2014,December,8,13.4,ALB
13,Albania,Syrian Arab Rep.,2015,April,28,13.4,ALB
14,Albania,Syrian Arab Rep.,2015,May,2,13.4,ALB
15,Albania,Syrian Arab Rep.,2015,June,37,13.4,ALB
16,Albania,Syrian Arab Rep.,2015,August,1,13.4,ALB
17,Albania,Syrian Arab Rep.,2015,October,3,13.4,ALB
18,Albania,Syrian Arab Rep.,2016,May,16,13.4,ALB
19,Albania,Syrian Arab Rep.,2016,August,23,13.4,ALB
20,Albania,Syrian Arab Rep.,2016,September,85,13.4,ALB
21,Albania,Syrian Arab Rep.,2016,October,8,13.4,ALB
22,Albania,Syrian Arab Rep.,2017,January,*,13.4,ALB
23,Albania,Syrian Arab Rep.,2017,February,*,13.4,ALB
24,Albania,Syrian Arab Rep.,2017,May,*,13.4,ALB
25,Albania,Syrian Arab Rep.,2017,June,6,13.4,ALB
26,Albania,Syrian Arab Rep.,2017,July,*,13.4,ALB
27,Albania,Syrian Arab Rep.,2017,August,8,13.4,ALB
28,Albania,Syrian Arab Rep.,2017,September,8,13.4,ALB
29,Albania,Syrian Arab Rep.,2017,October,*,13.4,ALB
...,...,...,...,...,...,...,...
3279,United States,Syrian Arab Rep.,2015,September,4,17420.0,USA
3280,United States,Syrian Arab Rep.,2015,October,18,17420.0,USA
3281,United States,Syrian Arab Rep.,2015,November,14,17420.0,USA
3282,United States,Syrian Arab Rep.,2015,December,14,17420.0,USA
3283,United States,Syrian Arab Rep.,2016,January,17,17420.0,USA
3284,United States,Syrian Arab Rep.,2016,February,12,17420.0,USA
3285,United States,Syrian Arab Rep.,2016,March,4,17420.0,USA
3286,United States,Syrian Arab Rep.,2016,April,16,17420.0,USA
3287,United States,Syrian Arab Rep.,2016,May,7,17420.0,USA
3288,United States,Syrian Arab Rep.,2016,June,8,17420.0,USA
3289,United States,Syrian Arab Rep.,2016,July,14,17420.0,USA
3290,United States,Syrian Arab Rep.,2016,August,17,17420.0,USA
3291,United States,Syrian Arab Rep.,2016,September,19,17420.0,USA
3292,United States,Syrian Arab Rep.,2016,October,10,17420.0,USA
3293,United States,Syrian Arab Rep.,2016,November,19,17420.0,USA
3294,United States,Syrian Arab Rep.,2016,December,13,17420.0,USA
3295,United States,Syrian Arab Rep.,2017,January,8,17420.0,USA
3296,United States,Syrian Arab Rep.,2017,February,12,17420.0,USA
3297,United States,Syrian Arab Rep.,2017,March,14,17420.0,USA
3298,United States,Syrian Arab Rep.,2017,April,17,17420.0,USA
3299,United States,Syrian Arab Rep.,2017,May,17,17420.0,USA
3300,United States,Syrian Arab Rep.,2017,June,8,17420.0,USA
3301,United States,Syrian Arab Rep.,2017,July,7,17420.0,USA
3302,United States,Syrian Arab Rep.,2017,August,6,17420.0,USA
3303,United States,Syrian Arab Rep.,2017,September,5,17420.0,USA
3304,United States,Syrian Arab Rep.,2017,October,8,17420.0,USA
3305,United States,Syrian Arab Rep.,2017,November,10,17420.0,USA
3306,United States,Syrian Arab Rep.,2018,January,6,17420.0,USA
3307,United States,Syrian Arab Rep.,2018,February,8,17420.0,USA
3308,United States,Syrian Arab Rep.,2018,March,*,17420.0,USA

In [6]:
# rename index column to 'Country'
merged_df.rename(columns={'index': 'Country'}, inplace=True)

# remove * and convert values to int values
merged_df['Value'] = merged_df['Value'].apply(lambda x : 0 if x == '*' else int(x))

# sum values and group each country by year
total_df = pd.DataFrame(merged_df.groupby(['Country','Year','CODE']).agg({'Value':np.sum})).reset_index()
type(total_df)
total_df

            Country  Year CODE  Value
0           Albania  2012  ALB      3
1           Albania  2013  ALB     24
2           Albania  2014  ALB     92
3           Albania  2015  ALB     71
4           Albania  2016  ALB    132
5           Albania  2017  ALB    105
6           Albania  2018  ALB   1676
7         Australia  2011  AUS     93
8         Australia  2012  AUS    143
9         Australia  2013  AUS    139
10        Australia  2014  AUS     78
11        Australia  2015  AUS     86
12        Australia  2016  AUS     74
13        Australia  2017  AUS     77
14        Australia  2018  AUS     29
15          Austria  2011  AUT    423
16          Austria  2012  AUT    922
17          Austria  2013  AUT   1991
18          Austria  2014  AUT   7661
19          Austria  2015  AUT  24314
20          Austria  2016  AUT   8723
21          Austria  2017  AUT   7262
22          Austria  2018  AUT   2569
23          Belgium  2011  BEL    494
24          Belgium  2012  BEL    798
25          Belgium  2013  BEL    944
26          Belgium  2014  BEL   2524
27          Belgium  2015  BEL  10185
28          Belgium  2016  BEL   2612
29          Belgium  2017  BEL   3823
..              ...   ...  ...    ...
314     Switzerland  2013  CHE   1852
315     Switzerland  2014  CHE   3768
316     Switzerland  2015  CHE   4649
317     Switzerland  2016  CHE   2040
318     Switzerland  2017  CHE   1806
319     Switzerland  2018  CHE   1005
320          Turkey  2011  TUR    188
321          Turkey  2012  TUR     24
322          Turkey  2013  TUR    108
323          Turkey  2014  TUR   8366
324          Turkey  2015  TUR    107
325          Turkey  2016  TUR     38
326          Turkey  2017  TUR      0
327          Turkey  2018  TUR      0
328  United Kingdom  2011  GBR    508
329  United Kingdom  2012  GBR   1289
330  United Kingdom  2013  GBR   2020
331  United Kingdom  2014  GBR   2353
332  United Kingdom  2015  GBR   2794
333  United Kingdom  2016  GBR   1587
334  United Kingdom  2017  GBR    786
335  United Kingdom  2018  GBR    641
336   United States  2011  USA    262
337   United States  2012  USA    704
338   United States  2013  USA   1583
339   United States  2014  USA   1705
340   United States  2015  USA   1113
341   United States  2016  USA    808
342   United States  2017  USA    571
343   United States  2018  USA    221

[344 rows x 4 columns]

## Plotly

Need to make a plotly account and generate an api key

In [9]:
import plotly
import plotly.plotly as py
import plotly.offline as pyo
import plotly.graph_objs as go
plotly.__version__

from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)

# plotly.tools.set_credentials_file(username='ksuhr1', api_key='Bg4V9Un93jYk47pAoxK3')

In [ ]:
text = total_df['Country']
text

In [14]:
data = [go.Choropleth(
    locations = total_df['CODE'],
    z = total_df['Value'],
    text = total_df['Country'],
    colorscale = [
        [0, "rgb(5, 10, 172)"],
        [0.3, "rgb(40, 60, 190)"],
        [0.5, "rgb(70, 100, 245)"],
        [0.6, "rgb(90, 120, 245)"],
        [0.7, "rgb(106, 137, 247)"],
        [1, "rgb(220, 220, 220)"]
    ],
    autocolorscale = False,
    reversescale = True,
    marker = go.choropleth.Marker(
        line = go.choropleth.marker.Line(
            color = 'rgb(180,180,180)',
            width = 0.5
        )),
    colorbar = go.choropleth.ColorBar(
        tickprefix = '',
        title = 'Number of Syrian Refugees'),
)]

layout = go.Layout(
    title = go.layout.Title(
        text = '2011-2018 Syrian Refugee Migration Patterns'
    ),
    
    
    
    geo = go.layout.Geo(
        showframe = False,
        showcoastlines = False,
        projection = go.layout.geo.Projection(
            type = 'equirectangular',
#             scale = 4
        ),
        
#         center = dict(lon=30,lat=50),
        
        
    ),
    
    annotations = [go.layout.Annotation(
        x = 0.55,
        y = 0.1,
        xref = 'paper',
        yref = 'paper',
        text = 'Source: <a href="http://popstats.unhcr.org/en/asylum_seekers_monthly">\
            Asylum-Seekers (Monthly Data)</a>',
        showarrow = False
    )]
)

fig = go.Figure(data = data, layout = layout)
pyo.iplot(fig, validate = False, filename = 'd3-world-map')