## What I was Thinking

```2011-2018_monthly_refugee.csv``` contains data about the number of refugees taking shelter in what countries in what year. I was thinking of displaying a world map and depending on the number of refugees seen in the country in each, color each country accordingly. Somewhere down the line, we should add a scroll that allows the user to change the year and see the data change chronologically.

## What I Think Needs to be Done

Here is a tutorial for the plotly library: https://plot.ly/python/choropleth-maps/<br>
Here is a tutorial for creating a slider using plotly: https://plot.ly/python/gapminder-example/

If we do a world map, it would be better to use plotly since it has a world map already set for you. However, we need the country code to connect the map and the data in the csv, so... I don't really know what to do... Maybe Geopandas will actually be easier...

But if we do decide on plotly, we need to
1. find the country code and assign all rows a country code corresponding to the country
    1. https://www.kaggle.com/shep312/plotlycountrycodes
2. do some data wrangling and change some country names
    1. some country names have extra notes in the end, which we should delete
3. some values are represented with <b>*</b>, which means the data is confidential; those should be set to 0

## Relevant Libraries

In [84]:
# import plotly.plotly as py
# from plotly.grid_objs import Grid, Column
# from plotly.tools import FigureFactory as FF 

import pandas as pd
import time
import re
import numpy as np

In [85]:
refugee_df = pd.read_csv('2011-2018_monthly_refugee.csv')
# refugee_df

In [86]:
# displays list of unique country names in the data frame
# refugee_df['Country / territory of asylum/residence'].unique()

Replace:
1. Czech Rep. --> Czech Republic
2. United Kingdom of Great Britain and Northern Ireland --> ??? (currently United Kingdom)
3. Rep. of Korea --> Korea, South
4. The former Yugoslav Rep. of Macedonia --> Macedonia
5. USA (INS/DHS) --> United States
6. USA (EOIR) --> United States
7. Serbia and Kosovo: S/RES/1244 (1999) --> Serbia

In [87]:
code_df = pd.read_csv('plotly_countries_and_codes.csv')
# code_df

In [88]:
# displays list of unique country names in the data frame
# code_df['COUNTRY'].unique()

In [89]:
# replacing values in refugee_df dataframe
new_refugee_df = refugee_df.replace({
    'Czech Rep.': 'Czech Republic',
    'United Kingdom of Great Britain and Northern Ireland': 'United Kingdom',
    'Rep. of Korea': 'Korea, South',
    'The former Yugoslav Rep. of Macedonia': 'Macedonia',
    'USA (INS/DHS)': 'United States',
    'USA (EOIR)': 'United States',
    'Serbia and Kosovo: S/RES/1244 (1999)': 'Serbia'
})

In [90]:
# joining two tables together
merged_df = new_refugee_df.set_index('Country / territory of asylum/residence').join(code_df.set_index('COUNTRY'))
merged_df = merged_df.reset_index()
merged_df

,index,Origin,Year,Month,Value,GDP (BILLIONS),CODE
0,Albania,Syrian Arab Rep.,2012,December,3,13.4,ALB
1,Albania,Syrian Arab Rep.,2013,March,8,13.4,ALB
2,Albania,Syrian Arab Rep.,2013,August,4,13.4,ALB
3,Albania,Syrian Arab Rep.,2013,September,4,13.4,ALB
4,Albania,Syrian Arab Rep.,2013,December,8,13.4,ALB
5,Albania,Syrian Arab Rep.,2014,May,1,13.4,ALB
6,Albania,Syrian Arab Rep.,2014,June,1,13.4,ALB
7,Albania,Syrian Arab Rep.,2014,July,10,13.4,ALB
8,Albania,Syrian Arab Rep.,2014,August,6,13.4,ALB
9,Albania,Syrian Arab Rep.,2014,September,4,13.4,ALB
10,Albania,Syrian Arab Rep.,2014,October,32,13.4,ALB
11,Albania,Syrian Arab Rep.,2014,November,30,13.4,ALB
12,Albania,Syrian Arab Rep.,2014,December,8,13.4,ALB
13,Albania,Syrian Arab Rep.,2015,April,28,13.4,ALB
14,Albania,Syrian Arab Rep.,2015,May,2,13.4,ALB
15,Albania,Syrian Arab Rep.,2015,June,37,13.4,ALB
16,Albania,Syrian Arab Rep.,2015,August,1,13.4,ALB
17,Albania,Syrian Arab Rep.,2015,October,3,13.4,ALB
18,Albania,Syrian Arab Rep.,2016,May,16,13.4,ALB
19,Albania,Syrian Arab Rep.,2016,August,23,13.4,ALB
20,Albania,Syrian Arab Rep.,2016,September,85,13.4,ALB
21,Albania,Syrian Arab Rep.,2016,October,8,13.4,ALB
22,Albania,Syrian Arab Rep.,2017,January,*,13.4,ALB
23,Albania,Syrian Arab Rep.,2017,February,*,13.4,ALB
24,Albania,Syrian Arab Rep.,2017,May,*,13.4,ALB
25,Albania,Syrian Arab Rep.,2017,June,6,13.4,ALB
26,Albania,Syrian Arab Rep.,2017,July,*,13.4,ALB
27,Albania,Syrian Arab Rep.,2017,August,8,13.4,ALB
28,Albania,Syrian Arab Rep.,2017,September,8,13.4,ALB
29,Albania,Syrian Arab Rep.,2017,October,*,13.4,ALB
...,...,...,...,...,...,...,...
3279,United States,Syrian Arab Rep.,2015,September,4,17420.0,USA
3280,United States,Syrian Arab Rep.,2015,October,18,17420.0,USA
3281,United States,Syrian Arab Rep.,2015,November,14,17420.0,USA
3282,United States,Syrian Arab Rep.,2015,December,14,17420.0,USA
3283,United States,Syrian Arab Rep.,2016,January,17,17420.0,USA
3284,United States,Syrian Arab Rep.,2016,February,12,17420.0,USA
3285,United States,Syrian Arab Rep.,2016,March,4,17420.0,USA
3286,United States,Syrian Arab Rep.,2016,April,16,17420.0,USA
3287,United States,Syrian Arab Rep.,2016,May,7,17420.0,USA
3288,United States,Syrian Arab Rep.,2016,June,8,17420.0,USA
3289,United States,Syrian Arab Rep.,2016,July,14,17420.0,USA
3290,United States,Syrian Arab Rep.,2016,August,17,17420.0,USA
3291,United States,Syrian Arab Rep.,2016,September,19,17420.0,USA
3292,United States,Syrian Arab Rep.,2016,October,10,17420.0,USA
3293,United States,Syrian Arab Rep.,2016,November,19,17420.0,USA
3294,United States,Syrian Arab Rep.,2016,December,13,17420.0,USA
3295,United States,Syrian Arab Rep.,2017,January,8,17420.0,USA
3296,United States,Syrian Arab Rep.,2017,February,12,17420.0,USA
3297,United States,Syrian Arab Rep.,2017,March,14,17420.0,USA
3298,United States,Syrian Arab Rep.,2017,April,17,17420.0,USA
3299,United States,Syrian Arab Rep.,2017,May,17,17420.0,USA
3300,United States,Syrian Arab Rep.,2017,June,8,17420.0,USA
3301,United States,Syrian Arab Rep.,2017,July,7,17420.0,USA
3302,United States,Syrian Arab Rep.,2017,August,6,17420.0,USA
3303,United States,Syrian Arab Rep.,2017,September,5,17420.0,USA
3304,United States,Syrian Arab Rep.,2017,October,8,17420.0,USA
3305,United States,Syrian Arab Rep.,2017,November,10,17420.0,USA
3306,United States,Syrian Arab Rep.,2018,January,6,17420.0,USA
3307,United States,Syrian Arab Rep.,2018,February,8,17420.0,USA
3308,United States,Syrian Arab Rep.,2018,March,*,17420.0,USA

In [91]:
# rename index column to 'Country'
merged_df.rename(columns={'index': 'Country'}, inplace=True)

# remove * and convert values to int values
merged_df['Value'] = merged_df['Value'].apply(lambda x : 0 if x == '*' else int(x))

# sum values and group each country by year
total_df = pd.DataFrame(merged_df.groupby(['Country','Year','CODE']).agg({'Value':np.sum})).reset_index()
type(total_df)
total_df

            Country  Year CODE  Value
0           Albania  2012  ALB      3
1           Albania  2013  ALB     24
2           Albania  2014  ALB     92
3           Albania  2015  ALB     71
4           Albania  2016  ALB    132
5           Albania  2017  ALB    105
6           Albania  2018  ALB   1676
7         Australia  2011  AUS     93
8         Australia  2012  AUS    143
9         Australia  2013  AUS    139
10        Australia  2014  AUS     78
11        Australia  2015  AUS     86
12        Australia  2016  AUS     74
13        Australia  2017  AUS     77
14        Australia  2018  AUS     29
15          Austria  2011  AUT    423
16          Austria  2012  AUT    922
17          Austria  2013  AUT   1991
18          Austria  2014  AUT   7661
19          Austria  2015  AUT  24314
20          Austria  2016  AUT   8723
21          Austria  2017  AUT   7262
22          Austria  2018  AUT   2569
23          Belgium  2011  BEL    494
24          Belgium  2012  BEL    798
25          Belgium  2013  BEL    944
26          Belgium  2014  BEL   2524
27          Belgium  2015  BEL  10185
28          Belgium  2016  BEL   2612
29          Belgium  2017  BEL   3823
..              ...   ...  ...    ...
314     Switzerland  2013  CHE   1852
315     Switzerland  2014  CHE   3768
316     Switzerland  2015  CHE   4649
317     Switzerland  2016  CHE   2040
318     Switzerland  2017  CHE   1806
319     Switzerland  2018  CHE   1005
320          Turkey  2011  TUR    188
321          Turkey  2012  TUR     24
322          Turkey  2013  TUR    108
323          Turkey  2014  TUR   8366
324          Turkey  2015  TUR    107
325          Turkey  2016  TUR     38
326          Turkey  2017  TUR      0
327          Turkey  2018  TUR      0
328  United Kingdom  2011  GBR    508
329  United Kingdom  2012  GBR   1289
330  United Kingdom  2013  GBR   2020
331  United Kingdom  2014  GBR   2353
332  United Kingdom  2015  GBR   2794
333  United Kingdom  2016  GBR   1587
334  United Kingdom  2017  GBR    786
335  United Kingdom  2018  GBR    641
336   United States  2011  USA    262
337   United States  2012  USA    704
338   United States  2013  USA   1583
339   United States  2014  USA   1705
340   United States  2015  USA   1113
341   United States  2016  USA    808
342   United States  2017  USA    571
343   United States  2018  USA    221

[344 rows x 4 columns]

## Plotly

Need to make a plotly account and generate an api key

In [92]:
import plotly
plotly.__version__

plotly.tools.set_credentials_file(username='ksuhr1', api_key='Bg4V9Un93jYk47pAoxK3')

Create a Bubble Chart using Plotly where the bubbles represent countries and their sizes represents the number of Syrian refugees. The data currently is in total_df.

In [93]:
import plotly.plotly as py
from plotly.grid_objs import Grid, Column
from plotly.tools import FigureFactory as FF 

import pandas as pd
import time

In [94]:
# df_sample = total_df[0:100]
table = FF.create_table(total_df)
py.iplot(table, filename='animations-gapminder-data-preview')

/usr/local/lib/python3.7/site-packages/plotly/tools.py:1176: UserWarning:

plotly.tools.FigureFactory.create_table is deprecated. Use plotly.figure_factory.create_table

## Make the Grid

1) Define a list of string years to represent values slider will have

2) Will also take all unique continents from column 'Country' and store them

In [95]:
# Grab years from 2011-2018
years_from_col = set(total_df['Year'])

# Sort years and store them in a list
years_ints = sorted(list(years_from_col))

# Convert years into strings
years = [str(year) for year in years_ints]

# make list of countries
countries = []
for country in total_df['Country']:
    if country not in countries:
        countries.append(country)
        
columns = []
# make grid
for year in years:
    for country in countries:
        # groups dataset by year
        dataset_by_year = total_df[total_df['Year'] == int(year)]
        
        # splits by year and continent
        dataset_by_year_and_cont = dataset_by_year[dataset_by_year['Country'] == country]
        
        for col_name in dataset_by_year_and_cont:
            
            # each column name is unique
            column_name = '{year}_{country}_{header}_gapminder_grid'.format(year=year, country=country, header=col_name)
            a_column = Column(list(dataset_by_year_and_cont[col_name]), column_name)
            columns.append(a_column)
            
# upload grid
grid = Grid(columns)
url = py.grid_ops.upload(grid,'gapminder_grid'+str(time.time()), auto_open=False)
url

'https://plot.ly/~ksuhr1/8/'

In [96]:
countries

['Albania',
 'Australia',
 'Austria',
 'Belgium',
 'Bosnia and Herzegovina',
 'Bulgaria',
 'Canada',
 'Croatia',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Estonia',
 'Finland',
 'France',
 'Germany',
 'Greece',
 'Hungary',
 'Iceland',
 'Ireland',
 'Italy',
 'Japan',
 'Korea, South',
 'Latvia',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macedonia',
 'Malta',
 'Montenegro',
 'Netherlands',
 'New Zealand',
 'Norway',
 'Poland',
 'Portugal',
 'Romania',
 'Serbia',
 'Slovakia',
 'Slovenia',
 'Spain',
 'Sweden',
 'Switzerland',
 'Turkey',
 'United Kingdom',
 'United States']

## Make the Figure

In [97]:
figure = {
    'data': [],
    'layout':{},
    'frames': [],
    'config': {'scrollzoom': True}
}

# fill in most of layout
figure['layout']['xaxis'] = {'range': [30, 85], 'title': 'Number of Refugees', 'gridcolor': '#FFFFFF'}
figure['layout']['yaxis'] = {'title': 'IDK', 'type': 'log', 'gridcolor': '#FFFFFF'}
figure['layout']['hovermode'] = 'closest'
figure['layout']['plot_bgcolor'] = 'rgb(223, 232, 243)'

## Add Slider

For slider to appear, we need to add a sliders dictionary to layout. The sliders dictionary is set in the following way

figure['layout']['sliders'] = {
    'active': 0,
    # determines where the slider is on chart page
    'yanchor': 'top',
    # determines if slider is on left or right of chart page
    'xanchor': 'left',
    # sets the display of curreent value that the slider
    # is hovering on
    'currentvalue': {
        'font': {'size': 20},
        # sets the text that appears before the value
        'prefix': 'text-before-value-on-display',
        'visible': True,
        'xanchor':'right'
    },
    'transition': {'duration': 300, 'easing': 'cubic-in-out'},
    'pad': {'b': 10, 't': 50},
    'len': 0.9,
    'x': 0.1,
    'y': 0,
    # list of dictionaries each which corresponds to a frame
    # in the figure. Should be ordered in the sequence
    # in which the frrames occur in the animation
    'steps':[...]
}

Each dictionary in steps has the following form

{
    'method':'animate',
    # the text that appears next to the prefix arg
    # mentioned in the slider section
    'label':'label-for-frame',
    'value': 'value-for-frame(defaults to label)',
    # first item in list args is a list containing
    # the slider-value of that frame
    'args':[{'frame':{'duration': 300, 'redraw:' False}, 'mode':'immediate'}
           ],
}

In [98]:
sliders_dict = {
    'active': 0,
    'yanchor': 'top',
    'xanchor': 'left',
    'currentvalue': {
        'font': {'size': 20},
        'prefix': 'Year:',
        'visible': True,
        'xanchor': 'right'
    },
    'transition': {'duration': 300, 'easing': 'cubic-in-out'},
    'pad': {'b': 10, 't': 50},
    'len': 0.9,
    'x': 0.1,
    'y': 0,
    'steps': []
}

## Add Play and Pause Buttons

In [99]:
figure['layout']['updatemenus'] = [
    {
        'buttons': [
            {
                'args': [None, {'frame': {'duration': 500, 'redraw': False},
                         'fromcurrent': True, 'transition': {'duration': 300, 'easing': 'quadratic-in-out'}}],
                'label': 'Play',
                'method': 'animate'
            },
            {
                'args': [[None], {'frame': {'duration': 0, 'redraw': False}, 'mode': 'immediate',
                'transition': {'duration': 0}}],
                'label': 'Pause',
                'method': 'animate'
            }
        ],
        'direction': 'left',
        'pad': {'r': 10, 't': 87},
        'showactive': False,
        'type': 'buttons',
        'x': 0.1,
        'xanchor': 'right',
        'y': 0,
        'yanchor': 'top'
    }
]

# custom_colors = {
#  'Albania':,
#  'Australia':,
#  'Austria':,
#  'Belgium':,
#  'Bosnia and Herzegovina':,
#  'Bulgaria':,
#  'Canada':,
#  'Croatia':,
#  'Cyprus':,
#  'Czech Republic':,
#  'Denmark':,
#  'Estonia':,
#  'Finland':,
#  'France':,
#  'Germany':,
#  'Greece':,
#  'Hungary':,
#  'Iceland':,
#  'Ireland':,
#  'Italy':,
#  'Japan':,
#  'Korea, South':,
#  'Latvia':,
#  'Liechtenstein':,
#  'Lithuania':,
#  'Luxembourg':,
#  'Macedonia':,
#  'Malta':,
#  'Montenegro':,
#  'Netherlands':,
#  'New Zealand':,
#  'Norway':,
#  'Poland':,
#  'Portugal':,
#  'Romania':,
#  'Serbia':,
#  'Slovakia':,
#  'Slovenia':,
#  'Spain':,
#  'Sweden':,
#  'Switzerland':,
#  'Turkey':,
#  'United Kingdom':,
#  'United States':
    
# }

## Fill in Figure with Data and Frames

We can put data from our grid into the figure by using .get_column_reference() method on the grid and supply the name ofo the column we want by looping through all the years and continents.

Note: If you are using referenced data for a particular parameter, you MUST change the parameter name from name to namesrc to indicate that you are using referenced data from a grid. For instance, x becomes xsrc, text becomes textsrc, etc.

In [103]:
col_name_template = '{year}_{country}_{header}_gapminder_grid'
year = 2011
for country in countries:
    data_dict = {
        'xsrc': grid.get_column_reference(col_name_template.format(
            year=year, country=country, header='Value'
        )),
        'ysrc': grid.get_column_reference(col_name_template.format(
            year=year, country=country, header='Year'
        )),
        'mode': 'markers',
        'textsrc': grid.get_column_reference(col_name_template.format(
            year=year, country=country, header='Year'
        )),
        'marker': {
            'sizemode': 'area',
            'sizeref': 200000,
            'sizesrc': grid.get_column_reference(col_name_template.format(
                 year=year, country=country, header='Country'
            )),
            #'color': custom_colors[continent]
        },
        'name': country
    }
    figure['data'].append(data_dict)

## Create Frames

Running again through yearrs and countries but for each combination, we instantiate a frame dictionary of the form:
    frame = {'data':[], 'name': value-name

We add a dictionary of data to this list and at the end of each loop, we ensurer to add the steps dictionary to the steps list. At the end, we attach the sliders dictionary to the figure via:
    figure['layout']['sliders'] = [sliders_dict]

In [104]:
for year in years:
    frame = {'data': [], 'name': str(year)}
    for country in countries:
        data_dict = {
            'xsrc': grid.get_column_reference(col_name_template.format(
                year=year, country=country, header='Value'
            )),
            'ysrc': grid.get_column_reference(col_name_template.format(
                year=year, country=country, header='Country'
            )),
            'mode': 'markers',
            'textsrc': grid.get_column_reference(col_name_template.format(
                year=year, country=country, header='Country'
            )),
            'marker': {
                'sizemode': 'area',
                'sizeref': 200000,
                'sizesrc': grid.get_column_reference(col_name_template.format(
                     year=year, country=country, header='Country'
                )),
                #'color': custom_colors[continent]
            },
            'name': country
        }
        frame['data'].append(data_dict)

    figure['frames'].append(frame)
    slider_step = {'args': [
        [year],
        {'frame': {'duration': 300, 'redraw': False},
         'mode': 'immediate',
       'transition': {'duration': 300}}
     ],
     'label': year,
     'method': 'animate'}
    sliders_dict['steps'].append(slider_step)

figure['layout']['sliders'] = [sliders_dict]

## Plot Animation

In [105]:
py.icreate_animations(figure, 'gapminder_example'+str(time.time()))