## What I was Thinking

```2011-2018_monthly_refugee.csv``` contains data about the number of refugees taking shelter in what countries in what year. I was thinking of displaying a world map and depending on the number of refugees seen in the country in each, color each country accordingly. Somewhere down the line, we should add a scroll that allows the user to change the year and see the data change chronologically.

## What I Think Needs to be Done

Here is a tutorial for the plotly library: https://plot.ly/python/choropleth-maps/<br>
Here is a tutorial for creating a slider using plotly: https://plot.ly/python/gapminder-example/

If we do a world map, it would be better to use plotly since it has a world map already set for you. However, we need the country code to connect the map and the data in the csv, so... I don't really know what to do... Maybe Geopandas will actually be easier...

But if we do decide on plotly, we need to
1. find the country code and assign all rows a country code corresponding to the country
    1. https://www.kaggle.com/shep312/plotlycountrycodes
2. do some data wrangling and change some country names
    1. some country names have extra notes in the end, which we should delete
3. some values are represented with <b>*</b>, which means the data is confidential; those should be set to 0

## Relevant Libraries

In [9]:
# import plotly.plotly as py
# from plotly.grid_objs import Grid, Column
# from plotly.tools import FigureFactory as FF 

import pandas as pd
import time
import re
import numpy as np

In [10]:
refugee_df = pd.read_csv('2011-2018_monthly_refugee.csv')
# refugee_df

In [11]:
# displays list of unique country names in the data frame
# refugee_df['Country / territory of asylum/residence'].unique()

Replace:
1. Czech Rep. --> Czech Republic
2. United Kingdom of Great Britain and Northern Ireland --> ??? (currently United Kingdom)
3. Rep. of Korea --> Korea, South
4. The former Yugoslav Rep. of Macedonia --> Macedonia
5. USA (INS/DHS) --> United States
6. USA (EOIR) --> United States
7. Serbia and Kosovo: S/RES/1244 (1999) --> Serbia

In [12]:
code_df = pd.read_csv('plotly_countries_and_codes.csv')
code_df

                    COUNTRY  GDP (BILLIONS) CODE
0               Afghanistan           21.71  AFG
1                   Albania           13.40  ALB
2                   Algeria          227.80  DZA
3            American Samoa            0.75  ASM
4                   Andorra            4.80  AND
5                    Angola          131.40  AGO
6                  Anguilla            0.18  AIA
7       Antigua and Barbuda            1.24  ATG
8                 Argentina          536.20  ARG
9                   Armenia           10.88  ARM
10                    Aruba            2.52  ABW
11                Australia         1483.00  AUS
12                  Austria          436.10  AUT
13               Azerbaijan           77.91  AZE
14             Bahamas, The            8.65  BHM
15                  Bahrain           34.05  BHR
16               Bangladesh          186.60  BGD
17                 Barbados            4.28  BRB
18                  Belarus           75.25  BLR
19                  Belgium          527.80  BEL
20                   Belize            1.67  BLZ
21                    Benin            9.24  BEN
22                  Bermuda            5.20  BMU
23                   Bhutan            2.09  BTN
24                  Bolivia           34.08  BOL
25   Bosnia and Herzegovina           19.55  BIH
26                 Botswana           16.30  BWA
27                   Brazil         2244.00  BRA
28   British Virgin Islands            1.10  VGB
29                   Brunei           17.43  BRN
..                      ...             ...  ...
192                  Sweden          559.10  SWE
193             Switzerland          679.00  CHE
194                   Syria           64.70  SYR
195                  Taiwan          529.50  TWN
196              Tajikistan            9.16  TJK
197                Tanzania           36.62  TZA
198                Thailand          373.80  THA
199             Timor-Leste            4.51  TLS
200                    Togo            4.84  TGO
201                   Tonga            0.49  TON
202     Trinidad and Tobago           29.63  TTO
203                 Tunisia           49.12  TUN
204                  Turkey          813.30  TUR
205            Turkmenistan           43.50  TKM
206                  Tuvalu            0.04  TUV
207                  Uganda           26.09  UGA
208                 Ukraine          134.90  UKR
209    United Arab Emirates          416.40  ARE
210          United Kingdom         2848.00  GBR
211           United States        17420.00  USA
212                 Uruguay           55.60  URY
213              Uzbekistan           63.08  UZB
214                 Vanuatu            0.82  VUT
215               Venezuela          209.20  VEN
216                 Vietnam          187.80  VNM
217          Virgin Islands            5.08  VGB
218               West Bank            6.64  WBG
219                   Yemen           45.45  YEM
220                  Zambia           25.61  ZMB
221                Zimbabwe           13.74  ZWE

[222 rows x 3 columns]

In [13]:
locations_df = pd.read_csv('countries.csv')
locations_df

    country   latitude   longitude                              name
0        AD  42.546245    1.601554                           Andorra
1        AE  23.424076   53.847818              United Arab Emirates
2        AF  33.939110   67.709953                       Afghanistan
3        AG  17.060816  -61.796428               Antigua and Barbuda
4        AI  18.220554  -63.068615                          Anguilla
5        AL  41.153332   20.168331                           Albania
6        AM  40.069099   45.038189                           Armenia
7        AN  12.226079  -69.060087              Netherlands Antilles
8        AO -11.202692   17.873887                            Angola
9        AQ -75.250973   -0.071389                        Antarctica
10       AR -38.416097  -63.616672                         Argentina
11       AS -14.270972 -170.132217                    American Samoa
12       AT  47.516231   14.550072                           Austria
13       AU -25.274398  133.775136                         Australia
14       AW  12.521110  -69.968338                             Aruba
15       AZ  40.143105   47.576927                        Azerbaijan
16       BA  43.915886   17.679076            Bosnia and Herzegovina
17       BB  13.193887  -59.543198                          Barbados
18       BD  23.684994   90.356331                        Bangladesh
19       BE  50.503887    4.469936                           Belgium
20       BF  12.238333   -1.561593                      Burkina Faso
21       BG  42.733883   25.485830                          Bulgaria
22       BH  25.930414   50.637772                           Bahrain
23       BI  -3.373056   29.918886                           Burundi
24       BJ   9.307690    2.315834                             Benin
25       BM  32.321384  -64.757370                           Bermuda
26       BN   4.535277  114.727669                            Brunei
27       BO -16.290154  -63.588653                           Bolivia
28       BR -14.235004  -51.925280                            Brazil
29       BS  25.034280  -77.396280                           Bahamas
..      ...        ...         ...                               ...
215      TL  -8.874217  125.727539                       Timor-Leste
216      TM  38.969719   59.556278                      Turkmenistan
217      TN  33.886917    9.537499                           Tunisia
218      TO -21.178986 -175.198242                             Tonga
219      TR  38.963745   35.243322                            Turkey
220      TT  10.691803  -61.222503               Trinidad and Tobago
221      TV  -7.109535  177.649330                            Tuvalu
222      TW  23.697810  120.960515                            Taiwan
223      TZ  -6.369028   34.888822                          Tanzania
224      UA  48.379433   31.165580                           Ukraine
225      UG   1.373333   32.290275                            Uganda
226      UM        NaN         NaN       U.S. Minor Outlying Islands
227      US  37.090240  -95.712891                     United States
228      UY -32.522779  -55.765835                           Uruguay
229      UZ  41.377491   64.585262                        Uzbekistan
230      VA  41.902916   12.453389                      Vatican City
231      VC  12.984305  -61.287228  Saint Vincent and the Grenadines
232      VE   6.423750  -66.589730                         Venezuela
233      VG  18.420695  -64.639968            British Virgin Islands
234      VI  18.335765  -64.896335               U.S. Virgin Islands
235      VN  14.058324  108.277199                           Vietnam
236      VU -15.376706  166.959158                           Vanuatu
237      WF -13.768752 -177.156097                 Wallis and Futuna
238      WS -13.759029 -172.104629                             Samoa
239      XK  42.602636   20.902977                            Kosovo
240      YE  15.552727   48.516388                             Yemen
241      YT -12.827500   45.166244                           Mayotte
242      ZA -30.559482   22.937506                      South Africa
243      ZM -13.133897   27.849332                            Zambia
244      ZW -19.015438   29.154857                          Zimbabwe

[245 rows x 4 columns]

In [14]:
# displays list of unique country names in the data frame
# code_df['COUNTRY'].unique()

In [36]:
# replacing values in refugee_df dataframe
new_refugee_df = refugee_df.replace({
    'Czech Rep.': 'Czech Republic',
    'United Kingdom of Great Britain and Northern Ireland': 'United Kingdom',
    'Rep. of Korea': 'Korea, South',
    'The former Yugoslav Rep. of Macedonia': 'Macedonia',
    'USA (INS/DHS)': 'United States',
    'USA (EOIR)': 'United States',
    'Serbia and Kosovo: S/RES/1244 (1999)': 'Serbia'
})
new_refugee_df

,Country / territory of asylum/residence,Origin,Year,Month,Value
0,Albania,Syrian Arab Rep.,2012,December,3
1,Albania,Syrian Arab Rep.,2013,March,8
2,Albania,Syrian Arab Rep.,2013,August,4
3,Albania,Syrian Arab Rep.,2013,September,4
4,Albania,Syrian Arab Rep.,2013,December,8
5,Albania,Syrian Arab Rep.,2014,May,1
6,Albania,Syrian Arab Rep.,2014,June,1
7,Albania,Syrian Arab Rep.,2014,July,10
8,Albania,Syrian Arab Rep.,2014,August,6
9,Albania,Syrian Arab Rep.,2014,September,4
10,Albania,Syrian Arab Rep.,2014,October,32
11,Albania,Syrian Arab Rep.,2014,November,30
12,Albania,Syrian Arab Rep.,2014,December,8
13,Albania,Syrian Arab Rep.,2015,April,28
14,Albania,Syrian Arab Rep.,2015,May,2
15,Albania,Syrian Arab Rep.,2015,June,37
16,Albania,Syrian Arab Rep.,2015,August,1
17,Albania,Syrian Arab Rep.,2015,October,3
18,Albania,Syrian Arab Rep.,2016,May,16
19,Albania,Syrian Arab Rep.,2016,August,23
20,Albania,Syrian Arab Rep.,2016,September,85
21,Albania,Syrian Arab Rep.,2016,October,8
22,Albania,Syrian Arab Rep.,2017,January,*
23,Albania,Syrian Arab Rep.,2017,February,*
24,Albania,Syrian Arab Rep.,2017,May,*
25,Albania,Syrian Arab Rep.,2017,June,6
26,Albania,Syrian Arab Rep.,2017,July,*
27,Albania,Syrian Arab Rep.,2017,August,8
28,Albania,Syrian Arab Rep.,2017,September,8
29,Albania,Syrian Arab Rep.,2017,October,*
...,...,...,...,...,...
3279,Serbia,Syrian Arab Rep.,2015,September,1
3280,Serbia,Syrian Arab Rep.,2015,October,9
3281,Serbia,Syrian Arab Rep.,2015,November,7
3282,Serbia,Syrian Arab Rep.,2015,December,1
3283,Serbia,Syrian Arab Rep.,2016,January,11
3284,Serbia,Syrian Arab Rep.,2016,February,1
3285,Serbia,Syrian Arab Rep.,2016,March,21
3286,Serbia,Syrian Arab Rep.,2016,April,9
3287,Serbia,Syrian Arab Rep.,2016,May,11
3288,Serbia,Syrian Arab Rep.,2016,June,28
3289,Serbia,Syrian Arab Rep.,2016,July,2
3290,Serbia,Syrian Arab Rep.,2016,August,59
3291,Serbia,Syrian Arab Rep.,2016,November,15
3292,Serbia,Syrian Arab Rep.,2016,December,7
3293,Serbia,Syrian Arab Rep.,2017,March,*
3294,Serbia,Syrian Arab Rep.,2017,April,7
3295,Serbia,Syrian Arab Rep.,2017,June,7
3296,Serbia,Syrian Arab Rep.,2017,July,*
3297,Serbia,Syrian Arab Rep.,2017,August,17
3298,Serbia,Syrian Arab Rep.,2017,September,*
3299,Serbia,Syrian Arab Rep.,2017,October,*
3300,Serbia,Syrian Arab Rep.,2018,January,*
3301,Serbia,Syrian Arab Rep.,2018,February,7
3302,Serbia,Syrian Arab Rep.,2018,April,*
3303,Serbia,Syrian Arab Rep.,2018,May,6
3304,Serbia,Syrian Arab Rep.,2018,June,6
3305,Serbia,Syrian Arab Rep.,2018,July,*
3306,Serbia,Syrian Arab Rep.,2018,August,49
3307,Serbia,Syrian Arab Rep.,2018,September,38
3308,Serbia,Syrian Arab Rep.,2018,October,19

In [81]:
# joining two tables together
merged_df = new_refugee_df.set_index('Country / territory of asylum/residence').join(code_df.set_index('COUNTRY'))
merged_df = merged_df.reset_index()
# merged_df

In [82]:
# rename index column to 'Country'
merged_df.rename(columns={'index': 'Country'}, inplace=True)

# remove * and convert values to int values
merged_df['Value'] = merged_df['Value'].apply(lambda x : 0 if x == '*' else int(x))

# sum values and group each country by year
total_df = pd.DataFrame(merged_df.groupby(['Country','Year','CODE']).agg({'Value':np.sum})).reset_index()
# type(total_df)
total_df

            Country  Year CODE  Value
0           Albania  2012  ALB      3
1           Albania  2013  ALB     24
2           Albania  2014  ALB     92
3           Albania  2015  ALB     71
4           Albania  2016  ALB    132
5           Albania  2017  ALB    105
6           Albania  2018  ALB   1676
7         Australia  2011  AUS     93
8         Australia  2012  AUS    143
9         Australia  2013  AUS    139
10        Australia  2014  AUS     78
11        Australia  2015  AUS     86
12        Australia  2016  AUS     74
13        Australia  2017  AUS     77
14        Australia  2018  AUS     29
15          Austria  2011  AUT    423
16          Austria  2012  AUT    922
17          Austria  2013  AUT   1991
18          Austria  2014  AUT   7661
19          Austria  2015  AUT  24314
20          Austria  2016  AUT   8723
21          Austria  2017  AUT   7262
22          Austria  2018  AUT   2569
23          Belgium  2011  BEL    494
24          Belgium  2012  BEL    798
25          Belgium  2013  BEL    944
26          Belgium  2014  BEL   2524
27          Belgium  2015  BEL  10185
28          Belgium  2016  BEL   2612
29          Belgium  2017  BEL   3823
..              ...   ...  ...    ...
314     Switzerland  2013  CHE   1852
315     Switzerland  2014  CHE   3768
316     Switzerland  2015  CHE   4649
317     Switzerland  2016  CHE   2040
318     Switzerland  2017  CHE   1806
319     Switzerland  2018  CHE   1005
320          Turkey  2011  TUR    188
321          Turkey  2012  TUR     24
322          Turkey  2013  TUR    108
323          Turkey  2014  TUR   8366
324          Turkey  2015  TUR    107
325          Turkey  2016  TUR     38
326          Turkey  2017  TUR      0
327          Turkey  2018  TUR      0
328  United Kingdom  2011  GBR    508
329  United Kingdom  2012  GBR   1289
330  United Kingdom  2013  GBR   2020
331  United Kingdom  2014  GBR   2353
332  United Kingdom  2015  GBR   2794
333  United Kingdom  2016  GBR   1587
334  United Kingdom  2017  GBR    786
335  United Kingdom  2018  GBR    641
336   United States  2011  USA    262
337   United States  2012  USA    704
338   United States  2013  USA   1583
339   United States  2014  USA   1705
340   United States  2015  USA   1113
341   United States  2016  USA    808
342   United States  2017  USA    571
343   United States  2018  USA    221

[344 rows x 4 columns]

## Plotly

Need to make a plotly account and generate an api key

In [83]:
import plotly
import plotly.plotly as py
import plotly.offline as pyo
import plotly.graph_objs as go
plotly.__version__

from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)

plotly.tools.set_credentials_file(username='hwu43', api_key='8d3oItgJtnwYVfSQR7nL')

In [84]:
# Add longitude and latitude values
total_df = total_df.set_index('Country').join(locations_df.set_index('name'))
total_df = total_df.reset_index()

# rename index column to 'Country'
total_df.rename(columns={'index': 'Country'}, inplace=True)

# drop 'country' column which is the same as 'CODE'
total_df = total_df.drop(columns=['country'], index=1)
total_df

            Country  Year CODE  Value   latitude   longitude
0           Albania  2012  ALB      3  41.153332   20.168331
2           Albania  2014  ALB     92  41.153332   20.168331
3           Albania  2015  ALB     71  41.153332   20.168331
4           Albania  2016  ALB    132  41.153332   20.168331
5           Albania  2017  ALB    105  41.153332   20.168331
6           Albania  2018  ALB   1676  41.153332   20.168331
7         Australia  2011  AUS     93 -25.274398  133.775136
8         Australia  2012  AUS    143 -25.274398  133.775136
9         Australia  2013  AUS    139 -25.274398  133.775136
10        Australia  2014  AUS     78 -25.274398  133.775136
11        Australia  2015  AUS     86 -25.274398  133.775136
12        Australia  2016  AUS     74 -25.274398  133.775136
13        Australia  2017  AUS     77 -25.274398  133.775136
14        Australia  2018  AUS     29 -25.274398  133.775136
15          Austria  2011  AUT    423  47.516231   14.550072
16          Austria  2012  AUT    922  47.516231   14.550072
17          Austria  2013  AUT   1991  47.516231   14.550072
18          Austria  2014  AUT   7661  47.516231   14.550072
19          Austria  2015  AUT  24314  47.516231   14.550072
20          Austria  2016  AUT   8723  47.516231   14.550072
21          Austria  2017  AUT   7262  47.516231   14.550072
22          Austria  2018  AUT   2569  47.516231   14.550072
23          Belgium  2011  BEL    494  50.503887    4.469936
24          Belgium  2012  BEL    798  50.503887    4.469936
25          Belgium  2013  BEL    944  50.503887    4.469936
26          Belgium  2014  BEL   2524  50.503887    4.469936
27          Belgium  2015  BEL  10185  50.503887    4.469936
28          Belgium  2016  BEL   2612  50.503887    4.469936
29          Belgium  2017  BEL   3823  50.503887    4.469936
30          Belgium  2018  BEL   2618  50.503887    4.469936
..              ...   ...  ...    ...        ...         ...
314     Switzerland  2013  CHE   1852  46.818188    8.227512
315     Switzerland  2014  CHE   3768  46.818188    8.227512
316     Switzerland  2015  CHE   4649  46.818188    8.227512
317     Switzerland  2016  CHE   2040  46.818188    8.227512
318     Switzerland  2017  CHE   1806  46.818188    8.227512
319     Switzerland  2018  CHE   1005  46.818188    8.227512
320          Turkey  2011  TUR    188  38.963745   35.243322
321          Turkey  2012  TUR     24  38.963745   35.243322
322          Turkey  2013  TUR    108  38.963745   35.243322
323          Turkey  2014  TUR   8366  38.963745   35.243322
324          Turkey  2015  TUR    107  38.963745   35.243322
325          Turkey  2016  TUR     38  38.963745   35.243322
326          Turkey  2017  TUR      0  38.963745   35.243322
327          Turkey  2018  TUR      0  38.963745   35.243322
328  United Kingdom  2011  GBR    508  55.378051   -3.435973
329  United Kingdom  2012  GBR   1289  55.378051   -3.435973
330  United Kingdom  2013  GBR   2020  55.378051   -3.435973
331  United Kingdom  2014  GBR   2353  55.378051   -3.435973
332  United Kingdom  2015  GBR   2794  55.378051   -3.435973
333  United Kingdom  2016  GBR   1587  55.378051   -3.435973
334  United Kingdom  2017  GBR    786  55.378051   -3.435973
335  United Kingdom  2018  GBR    641  55.378051   -3.435973
336   United States  2011  USA    262  37.090240  -95.712891
337   United States  2012  USA    704  37.090240  -95.712891
338   United States  2013  USA   1583  37.090240  -95.712891
339   United States  2014  USA   1705  37.090240  -95.712891
340   United States  2015  USA   1113  37.090240  -95.712891
341   United States  2016  USA    808  37.090240  -95.712891
342   United States  2017  USA    571  37.090240  -95.712891
343   United States  2018  USA    221  37.090240  -95.712891

[343 rows x 6 columns]

In [85]:
# find the total, just for reference/filler; not to be used in the final visualization
new_total_df = total_df.groupby(['Country', 'CODE']).sum()
new_total_df = new_total_df.reset_index()
# new_total_df

In [86]:
# merged_df = new_refugee_df.set_index('Country / territory of asylum/residence').join(code_df.set_index('COUNTRY'))
all_code_df = code_df.set_index('CODE').join(new_total_df.set_index('CODE'))
all_code_df = all_code_df.reset_index()
# all_code_df

In [87]:
data = [go.Choropleth(
    locations = all_code_df['CODE'],
    z = all_code_df['Value'],
    text = all_code_df['Country'],
    colorscale = [
        [0, "rgb(5, 10, 172)"],
        [0.3, "rgb(40, 60, 190)"],
        [0.5, "rgb(70, 100, 245)"],
        [0.6, "rgb(90, 120, 245)"],
        [0.7, "rgb(106, 137, 247)"],
        [1, "rgb(220, 220, 220)"]
    ],
    zmin = 0,
    zmax = 600000,
    autocolorscale = False,
    reversescale = True,
    marker = go.choropleth.Marker(
        line = go.choropleth.marker.Line(
            color = 'rgb(180,180,180)',
            width = 0.5
        )),
    colorbar = go.choropleth.ColorBar(
        tickprefix = '',
        title = 'Number of Syrian Refugees'),
)]

layout = go.Layout(
    title = go.layout.Title(
        text = '2011-2018 Syrian Refugee Migration Patterns'
    ),
    
    
    
    geo = go.layout.Geo(
        showframe = False,
        showcoastlines = False,
        projection = go.layout.geo.Projection(
            type = 'equirectangular',
#             scale = 4
        ),
        
#         center = dict(lon=30,lat=50),
        
        
    ),
    
    annotations = [go.layout.Annotation(
        x = 0.55,
        y = 0.1,
        xref = 'paper',
        yref = 'paper',
        text = 'Source: <a href="http://popstats.unhcr.org/en/asylum_seekers_monthly">\
            Asylum-Seekers (Monthly Data)</a>',
        showarrow = False
    )]
)

fig = go.Figure(data = data, layout = layout)
py.iplot(fig, validate = False, filename = 'd3-world-map')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~hwu43/0 or inside your plot.ly account where it is named 'd3-world-map'