In [5]:
# import plotly.plotly as py
# from plotly.grid_objs import Grid, Column
# from plotly.tools import FigureFactory as FF 

import pandas as pd
import time
import re
import numpy as np

In [6]:
refugee_df = pd.read_csv('unhcr-persons-of-concern-origin-syr-csv-1.csv')
refugee_df

,Year,Country / territory of asylum/residence,Origin,Refugees (incl. refugee-like situations),Asylum-seekers (pending cases),Returned refugees,Internally displaced persons (IDPs),Returned IDPs,Stateless persons,Others of concern,Total Population
0,#date+year,#country+residence,#country+origin,#affected+refugees,#affected+asylum,#affected+returned_refugees,#affected+idps,#affected+returned_idps,#affected+stateless,#affected+others,#affected+total
1,1968,Lebanon,Syrian Arab Rep.,1200,NaN,NaN,NaN,NaN,NaN,NaN,1200
2,1969,Lebanon,Syrian Arab Rep.,1200,NaN,NaN,NaN,NaN,NaN,NaN,1200
3,1979,Lebanon,Syrian Arab Rep.,500,NaN,NaN,NaN,NaN,NaN,NaN,500
4,1980,Italy,Syrian Arab Rep.,2,NaN,NaN,NaN,NaN,NaN,NaN,2
5,1980,Lebanon,Syrian Arab Rep.,500,NaN,NaN,NaN,NaN,NaN,NaN,500
6,1981,Italy,Syrian Arab Rep.,4,NaN,NaN,NaN,NaN,NaN,NaN,4
7,1981,Lebanon,Syrian Arab Rep.,500,NaN,NaN,NaN,NaN,NaN,NaN,500
8,1982,Italy,Syrian Arab Rep.,4,NaN,NaN,NaN,NaN,NaN,NaN,4
9,1982,Lebanon,Syrian Arab Rep.,500,NaN,6000,NaN,NaN,NaN,NaN,6500
10,1983,Italy,Syrian Arab Rep.,6,NaN,NaN,NaN,NaN,NaN,NaN,6
11,1983,Lebanon,Syrian Arab Rep.,520,NaN,NaN,NaN,NaN,NaN,NaN,520
12,1984,Italy,Syrian Arab Rep.,9,NaN,NaN,NaN,NaN,NaN,NaN,9
13,1984,Lebanon,Syrian Arab Rep.,520,NaN,NaN,NaN,NaN,NaN,NaN,520
14,1985,Iraq,Syrian Arab Rep.,2000,NaN,NaN,NaN,NaN,NaN,NaN,2000
15,1985,Italy,Syrian Arab Rep.,9,NaN,NaN,NaN,NaN,NaN,NaN,9
16,1985,Lebanon,Syrian Arab Rep.,590,NaN,NaN,NaN,NaN,NaN,NaN,590
17,1986,Italy,Syrian Arab Rep.,14,NaN,NaN,NaN,NaN,NaN,NaN,14
18,1986,Lebanon,Syrian Arab Rep.,520,NaN,NaN,NaN,NaN,NaN,NaN,520
19,1986,Various/Unknown,Syrian Arab Rep.,NaN,NaN,70,NaN,NaN,NaN,NaN,70
20,1987,Italy,Syrian Arab Rep.,20,NaN,NaN,NaN,NaN,NaN,NaN,20
21,1988,United Kingdom,Syrian Arab Rep.,22,NaN,NaN,NaN,NaN,NaN,NaN,22
22,1988,Greece,Syrian Arab Rep.,60,NaN,NaN,NaN,NaN,NaN,NaN,60
23,1988,Italy,Syrian Arab Rep.,27,NaN,NaN,NaN,NaN,NaN,NaN,27
24,1988,Lebanon,Syrian Arab Rep.,520,NaN,NaN,NaN,NaN,NaN,NaN,520
25,1988,United States of America,Syrian Arab Rep.,252,NaN,NaN,NaN,NaN,NaN,NaN,252
26,1989,Denmark,Syrian Arab Rep.,11,NaN,NaN,NaN,NaN,NaN,NaN,11
27,1989,United Kingdom,Syrian Arab Rep.,13,NaN,NaN,NaN,NaN,NaN,NaN,13
28,1989,Greece,Syrian Arab Rep.,100,NaN,NaN,NaN,NaN,NaN,NaN,100
29,1989,Italy,Syrian Arab Rep.,34,NaN,NaN,NaN,NaN,NaN,NaN,34
...,...,...,...,...,...,...,...,...,...,...,...
1660,2017,Qatar,Syrian Arab Rep.,34,*,0,0,0,0,0,35
1661,2017,Romania,Syrian Arab Rep.,2282,167,0,0,0,0,0,2449
1662,2017,Russian Federation,Syrian Arab Rep.,1130,303,0,0,0,0,0,1433
1663,2017,Saudi Arabia,Syrian Arab Rep.,14,34,0,0,0,0,0,48
1664,2017,Sudan,Syrian Arab Rep.,11240,439,0,0,0,0,0,11679
1665,2017,Senegal,Syrian Arab Rep.,0,21,0,0,0,0,0,21
1666,2017,El Salvador,Syrian Arab Rep.,5,0,0,0,0,0,0,5
1667,2017,Somalia,Syrian Arab Rep.,172,*,0,0,0,0,0,176
1668,2017,Serbia and Kosovo (S/RES/1244 (1999)),Syrian Arab Rep.,73,0,0,0,0,0,0,73
1669,2017,Serbia and Kosovo (S/RES/1244 (1999)),Syrian Arab Rep.,0,*,0,0,0,0,0,*
1670,2017,South Sudan,Syrian Arab Rep.,*,*,0,0,0,0,0,*
1671,2017,Slovakia,Syrian Arab Rep.,17,0,0,0,0,0,0,17
1672,2017,Slovenia,Syrian Arab Rep.,215,9,0,0,0,0,0,224
1673,2017,Sweden,Syrian Arab Rep.,103614,3531,0,0,0,0,0,107145
1674,2017,Syrian Arab Rep.,Syrian Arab Rep.,0,0,77212,6150005,597152,0,0,6824369
1675,2017,Chad,Syrian Arab Rep.,39,29,0,0,0,0,0,68
1676,2017,Togo,Syrian Arab Rep.,0,9,0,0,0,0,0,9
1677,2017,Thailand,Syrian Arab Rep.,327,9,0,0,0,0,0,336
1678,2017,Trinidad and Tobago,Syrian Arab Rep.,53,32,0,0,0,0,0,85
1679,2017,Tunisia,Syrian Arab Rep.,603,0,0,0,0,0,0,603
1680,2017,Turkey,Syrian Arab Rep.,3424237,163,0,0,0,0,0,3424400
1681,2017,Uganda,Syrian Arab Rep.,7,12,0,0,0,0,0,19
1682,2017,Ukraine,Syrian Arab Rep.,483,520,0,0,0,0,0,1003
1683,2017,Uruguay,Syrian Arab Rep.,61,*,0,0,0,0,0,62
1684,2017,United States of America,Syrian Arab Rep.,7282,3358,0,0,0,0,0,10640
1685,2017,Venezuela (Bolivarian Republic of),Syrian Arab Rep.,*,0,0,0,0,0,0,*
1686,2017,Yemen,Syrian Arab Rep.,3286,496,0,0,0,0,0,3782
1687,2017,South Africa,Syrian Arab Rep.,45,0,0,0,0,0,0,45
1688,2017,Zambia,Syrian Arab Rep.,0,*,0,0,0,0,0,*
1689,2017,Zimbabwe,Syrian Arab Rep.,0,0,0,0,0,0,*,*