In [317]:
# import plotly.plotly as py
# from plotly.grid_objs import Grid, Column
# from plotly.tools import FigureFactory as FF 

import pandas as pd
import time
import re
import numpy as np

In [318]:
refugee_df = pd.read_csv('unhcr-persons-of-concern-origin-syr-csv-1.csv')
refugee_df = refugee_df.sort_values('Year', ascending=True)
refugee_df = refugee_df.reset_index()
refugee_df = refugee_df.drop(refugee_df.index[0])
refugee_df = refugee_df.drop(['index'], axis=1)
refugee_df

,Year,Country / territory of asylum/residence,Origin,Refugees (incl. refugee-like situations),Asylum-seekers (pending cases),Returned refugees,Internally displaced persons (IDPs),Returned IDPs,Stateless persons,Others of concern,Total Population
1,1968,Lebanon,Syrian Arab Rep.,1200,NaN,NaN,NaN,NaN,NaN,NaN,1200
2,1969,Lebanon,Syrian Arab Rep.,1200,NaN,NaN,NaN,NaN,NaN,NaN,1200
3,1979,Lebanon,Syrian Arab Rep.,500,NaN,NaN,NaN,NaN,NaN,NaN,500
4,1980,Italy,Syrian Arab Rep.,2,NaN,NaN,NaN,NaN,NaN,NaN,2
5,1980,Lebanon,Syrian Arab Rep.,500,NaN,NaN,NaN,NaN,NaN,NaN,500
6,1981,Italy,Syrian Arab Rep.,4,NaN,NaN,NaN,NaN,NaN,NaN,4
7,1981,Lebanon,Syrian Arab Rep.,500,NaN,NaN,NaN,NaN,NaN,NaN,500
8,1982,Italy,Syrian Arab Rep.,4,NaN,NaN,NaN,NaN,NaN,NaN,4
9,1982,Lebanon,Syrian Arab Rep.,500,NaN,6000,NaN,NaN,NaN,NaN,6500
10,1983,Lebanon,Syrian Arab Rep.,520,NaN,NaN,NaN,NaN,NaN,NaN,520
11,1983,Italy,Syrian Arab Rep.,6,NaN,NaN,NaN,NaN,NaN,NaN,6
12,1984,Italy,Syrian Arab Rep.,9,NaN,NaN,NaN,NaN,NaN,NaN,9
13,1984,Lebanon,Syrian Arab Rep.,520,NaN,NaN,NaN,NaN,NaN,NaN,520
14,1985,Iraq,Syrian Arab Rep.,2000,NaN,NaN,NaN,NaN,NaN,NaN,2000
15,1985,Italy,Syrian Arab Rep.,9,NaN,NaN,NaN,NaN,NaN,NaN,9
16,1985,Lebanon,Syrian Arab Rep.,590,NaN,NaN,NaN,NaN,NaN,NaN,590
17,1986,Italy,Syrian Arab Rep.,14,NaN,NaN,NaN,NaN,NaN,NaN,14
18,1986,Lebanon,Syrian Arab Rep.,520,NaN,NaN,NaN,NaN,NaN,NaN,520
19,1986,Various/Unknown,Syrian Arab Rep.,NaN,NaN,70,NaN,NaN,NaN,NaN,70
20,1987,Italy,Syrian Arab Rep.,20,NaN,NaN,NaN,NaN,NaN,NaN,20
21,1988,United States of America,Syrian Arab Rep.,252,NaN,NaN,NaN,NaN,NaN,NaN,252
22,1988,Lebanon,Syrian Arab Rep.,520,NaN,NaN,NaN,NaN,NaN,NaN,520
23,1988,Greece,Syrian Arab Rep.,60,NaN,NaN,NaN,NaN,NaN,NaN,60
24,1988,United Kingdom,Syrian Arab Rep.,22,NaN,NaN,NaN,NaN,NaN,NaN,22
25,1988,Italy,Syrian Arab Rep.,27,NaN,NaN,NaN,NaN,NaN,NaN,27
26,1989,Denmark,Syrian Arab Rep.,11,NaN,NaN,NaN,NaN,NaN,NaN,11
27,1989,United Kingdom,Syrian Arab Rep.,13,NaN,NaN,NaN,NaN,NaN,NaN,13
28,1989,Greece,Syrian Arab Rep.,100,NaN,NaN,NaN,NaN,NaN,NaN,100
29,1989,Italy,Syrian Arab Rep.,34,NaN,NaN,NaN,NaN,NaN,NaN,34
30,1989,United States of America,Syrian Arab Rep.,239,NaN,NaN,NaN,NaN,NaN,NaN,239
...,...,...,...,...,...,...,...,...,...,...,...
1660,2017,Italy,Syrian Arab Rep.,3618,1696,0,0,0,0,0,5314
1661,2017,Israel,Syrian Arab Rep.,*,0,0,0,0,0,0,*
1662,2017,Iceland,Syrian Arab Rep.,58,5,0,0,0,0,0,63
1663,2017,Iraq,Syrian Arab Rep.,247057,0,0,0,0,0,0,247057
1664,2017,Ireland,Syrian Arab Rep.,718,138,0,0,0,0,0,856
1665,2017,India,Syrian Arab Rep.,87,17,0,0,0,0,0,104
1666,2017,Indonesia,Syrian Arab Rep.,35,27,0,0,0,0,0,62
1667,2017,Hungary,Syrian Arab Rep.,925,108,0,0,0,0,0,1033
1668,2017,Croatia,Syrian Arab Rep.,194,77,0,0,0,0,0,271
1669,2017,Guatemala,Syrian Arab Rep.,0,*,0,0,0,0,0,*
1670,2017,Grenada,Syrian Arab Rep.,*,0,0,0,0,0,0,*
1671,2017,Greece,Syrian Arab Rep.,13714,9605,0,0,0,0,0,23319
1672,2017,Guinea,Syrian Arab Rep.,*,*,0,0,0,0,0,*
1673,2017,Ghana,Syrian Arab Rep.,39,150,0,0,0,0,0,189
1674,2017,Germany,Syrian Arab Rep.,496674,70833,0,0,0,0,0,567507
1675,2017,Djibouti,Syrian Arab Rep.,9,*,0,0,0,0,0,10
1676,2017,Dominican Rep.,Syrian Arab Rep.,*,6,0,0,0,0,0,7
1677,2017,Algeria,Syrian Arab Rep.,8,5821,0,0,0,0,0,5829
1678,2017,Ecuador,Syrian Arab Rep.,39,115,0,0,0,0,0,154
1679,2017,Egypt,Syrian Arab Rep.,126688,0,0,0,0,0,0,126688
1680,2017,Kenya,Syrian Arab Rep.,*,7,0,0,0,0,0,9
1681,2017,Spain,Syrian Arab Rep.,11752,2255,0,0,0,0,0,14007
1682,2017,Ethiopia,Syrian Arab Rep.,9,67,0,0,0,0,0,76
1683,2017,Finland,Syrian Arab Rep.,2370,133,0,0,0,0,0,2503
1684,2017,France,Syrian Arab Rep.,12520,2394,0,0,0,0,0,14914
1685,2017,Gabon,Syrian Arab Rep.,*,0,0,0,0,0,0,*
1686,2017,United Kingdom,Syrian Arab Rep.,9100,574,0,0,0,0,0,9674
1687,2017,Georgia,Syrian Arab Rep.,445,9,0,0,0,0,0,454
1688,2017,Estonia,Syrian Arab Rep.,151,*,0,0,0,0,0,152
1689,2017,Zimbabwe,Syrian Arab Rep.,0,0,0,0,0,0,*,*

In [319]:
# select the years we want
years = ['2011', '2012', '2013', '2014', '2015','2016', '2017']

refugee_subset = refugee_df[refugee_df['Year'].isin(years)]
# reset index
refugee_subset = refugee_subset.reset_index()
# drop index column
bad_cols = ['index','Origin','Returned refugees','Returned refugees',
            'Internally displaced persons (IDPs)','Returned IDPs',
            'Stateless persons','Others of concern']
refugee_subset = refugee_subset.drop(bad_cols, axis=1)
#refugee_subset

In [320]:
refugee_subset.to_csv('clean_refugee_data.csv',index=False, header=True)

In [321]:
# displays list of unique country names in the data frame
# refugee_df['Country / territory of asylum/residence'].unique()

## Replace following Country Names

Venezuela (Bolivarian Republic of) -> Venezuela
Czech Rep. -> Czech Republic
Iran (Islamic Rep. of) -> Iran
The former Yugoslav Republic of Macedonia -> Macedonia
Bolivia (Plurinational State of) -> Bolivia
Dominican Rep. -> Dominican Republic
Rep. of Korea -> "Korea, South"
United Rep. of Tanzania -> Tanzania
China, Hong Kong SAR -> Hong Kong
South Sudan -> Sudan
Dem. Rep. of the Congo -> "Congo, Democratic Republic of the"
Central African Rep. -> Central African Republic
United States of America -> United States
Sint Maarten (Dutch part) -> Sint Maarten
Serbia and Kosovo (S/RES/1244 (1999)) -> Serbia
Rep. of Moldova -> Moldova
Syrian Arab Rep. -> Syria

In [322]:
# Grab country codes in order to use it with Plotly
countries_df = pd.read_csv('plotly_countries_and_codes.csv')
#countries_df

In [323]:
# Import csv with lat/long of each country
locations_df = pd.read_csv('countries.csv')
# locations_df

In [324]:
# replace names in refugee_subse dataframe
new_refugee_df = refugee_subset.replace({
    'Venezuela (Bolivarian Republic of)':'Venezuela',
    'Czech Rep.':'Czech Republic',
    'Iran (Islamic Rep. of)':'Iran',
    'The former Yugoslav Republic of Macedonia':'Macedonia',
    'Bolivia (Plurinational State of)':'Bolivia',
    'Dominican Rep.':'Dominican Republic',
    'Rep. of Korea': 'Korea, South',
    'United Rep. of Tanzania':'Tanzania',
    'China, Hong Kong SAR':'Hong Kong',
    'South Sudan':'Sudan',
    'Dem. Rep. of the Congo':'Congo, Democratic Republic of the',
    'Central African Rep.':'Central African Republic',
    'United States of America':'United States',
    'Sint Maarten (Dutch part)':'Sint Maarten',
    'Serbia and Kosovo (S/RES/1244 (1999))':'Serbia',
    'Rep. of Moldova':'Moldova',
    'Syrian Arab Rep.':'Syria',   
})
#new_refugee_df

In [325]:
# joining the two tables together
merged_df = new_refugee_df.set_index('Country / territory of asylum/residence').join(countries_df.set_index('COUNTRY'))

# reset row index
merged_df = merged_df.reset_index()

# remove GDP column
merged_df = merged_df.drop(['GDP (BILLIONS)'], axis=1)

# rename index column to 'Country'
merged_df.rename(columns={'index':'Country'}, inplace=True)

# rearrange columns
merged_df = merged_df[['CODE','Country','Year',
                       'Refugees (incl. refugee-like situations)',
                       'Asylum-seekers (pending cases)',
                       'Total Population']]

## Clean * and NaN values

In [326]:
# Fill NaN values with 0
merged_df['Refugees (incl. refugee-like situations)'] = merged_df['Refugees (incl. refugee-like situations)'].fillna(0)
# remove * and convert values to int values
merged_df['Refugees (incl. refugee-like situations)'] = merged_df['Refugees (incl. refugee-like situations)'].apply(lambda x : 0 if x == '*' else int(x))

In [327]:
# Fill NaN values with 0
merged_df['Asylum-seekers (pending cases)'] = merged_df['Asylum-seekers (pending cases)'].fillna(0)
# remove * and convert values to int values
merged_df['Asylum-seekers (pending cases)'] = merged_df['Asylum-seekers (pending cases)'].apply(lambda x : 0 if x == '*' else int(x))

In [328]:
# Fill NaN values with 0
merged_df['Total Population'] = merged_df['Total Population'].fillna(0)
# remove * and convert values to int values
merged_df['Total Population'] = merged_df['Total Population'].apply(lambda x : 0 if x == '*' else int(x))
# merged_df

## Plotly

In [329]:
import plotly
import plotly.plotly as py
import plotly.offline as pyo
import plotly.graph_objs as go
plotly.__version__

from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)

plotly.tools.set_credentials_file(username='hwu43', api_key='8d3oItgJtnwYVfSQR7nL')

In [330]:
# find the total, just for reference/filler; not to be used in the final visualization
new_total_df = merged_df.groupby(['Country', 'CODE']).sum()
new_total_df = new_total_df.reset_index()
# new_total_df

In [331]:
# # rename Korea, South to South Korea
# name_change = {
#     'Korea, South': 'South Korea',
#     'Congo, Democratic Republic of the': 'Congo [DRC]',
#     'Macedonia': 'Macedonia [FYROM]'   
# }

# # renames the provinces using name_change
# all_code_df.replace(name_change, inplace=True)
# all_code_df
# # all_code_df['latitude'].unique()
# # all_code_df.to_csv('clean_refugee_data.csv',index=False, header=True)

In [332]:
# Add longitude and latitude values
all_code_df = new_total_df.set_index('Country').join(locations_df.set_index('name'))
all_code_df = all_code_df.reset_index()
all_code_df = all_code_df.drop(['country'], axis=1)
all_code_df.to_csv('clean_refugee_data.csv',index=False, header=True)

In [337]:
# # add coordinates for South Korea 
all_code_df.at[71, 'latitude'] = 35.9078
all_code_df.at[71, 'longitude'] = 127.7669

# Macdeonia
all_code_df.at[81, 'latitude'] = 41.6086
all_code_df.at[81, 'longitude'] = 21.7453

# Sint Maarten
all_code_df.at[114,'latitude'] = 18.0347
all_code_df.at[114,'longitude'] = -63.0681

# Congo
all_code_df.at[31,'latitude'] = -4.038333
all_code_df.at[31,'longitude'] = 21.758664
# all_code_df.to_csv('clean_refugee_data.csv',index=False, header=True)
all_code_df

,Country,CODE,Refugees (incl. refugee-like situations),Asylum-seekers (pending cases),Total Population,latitude,longitude
0,Afghanistan,AFG,1,0,1,33.939110,67.709953
1,Albania,ALB,9,48,60,41.153332,20.168331
2,Algeria,DZA,8,22789,22797,28.033886,1.659626
3,Angola,AGO,0,2,2,-11.202692,17.873887
4,Anguilla,AIA,2,0,2,18.220554,-63.068615
5,Antigua and Barbuda,ATG,19,1,20,17.060816,-61.796428
6,Argentina,ARG,1435,278,2242,-38.416097,-63.616672
7,Armenia,ARM,72143,437,78080,40.069099,45.038189
8,Australia,AUS,2011,852,2863,-25.274398,133.775136
9,Austria,AUT,101719,40001,141720,47.516231,14.550072
10,Azerbaijan,AZE,58,35,97,40.143105,47.576927
11,Bahrain,BHR,0,6,6,25.930414,50.637772
12,Bangladesh,BGD,0,0,0,23.684994,90.356331
13,Barbados,BRB,2,0,2,13.193887,-59.543198
14,Belarus,BLR,409,100,509,53.709807,27.953389
15,Belgium,BEL,27673,10048,37721,50.503887,4.469936
16,Benin,BEN,10,3,16,9.307690,2.315834
17,Bolivia,BOL,42,0,42,-16.290154,-63.588653
18,Bosnia and Herzegovina,BIH,123,76,199,43.915886,17.679076
19,Brazil,BRA,9887,7111,16998,-14.235004,-51.925280
20,Bulgaria,BGR,56195,9131,65326,42.733883,25.485830
21,Burkina Faso,BFA,0,0,0,12.238333,-1.561593
22,Cambodia,KHM,1,5,6,12.565679,104.990963
23,Cameroon,CMR,57,39,96,7.369722,12.354722
24,Canada,CAN,9742,2695,12437,56.130366,-106.346771
25,Cayman Islands,CYM,3,0,3,19.513469,-80.566956
26,Central African Republic,CAF,0,16,16,6.611111,20.939444
27,Chad,TCD,99,66,165,15.454166,18.732207
28,Chile,CHL,127,88,215,-35.675147,-71.542969
29,China,CHN,81,95,176,35.861660,104.195397
...,...,...,...,...,...,...,...
111,Saudi Arabia,SAU,102,92,194,23.885942,45.079162
112,Senegal,SEN,0,88,88,14.497401,-14.452362
113,Serbia,SRB,840,347,1187,44.016521,21.005859
114,Sint Maarten,SXM,0,3,3,18.034700,-63.068100
115,Slovakia,SVK,231,0,231,48.669026,19.699024
116,Slovenia,SVN,394,83,477,46.151241,14.995463
117,Somalia,SOM,341,173,518,5.152149,46.199616
118,South Africa,ZAF,158,162,320,-30.559482,22.937506
119,Spain,ESP,23529,8979,32508,40.463667,-3.749220
120,Sri Lanka,LKA,31,22,53,7.873054,80.771797
121,Sudan,SDN,21815,1964,23779,12.862807,30.217636
122,Sweden,SWE,312761,89957,402718,60.128161,18.643501
123,Switzerland,CHE,43131,20620,63751,46.818188,8.227512
124,Syria,SYR,0,0,37095609,34.802075,38.996815
125,Tanzania,TZA,0,7,7,-6.369028,34.888822
126,Thailand,THA,826,677,1503,15.870032,100.992541
127,Togo,TGO,10,38,48,8.619543,0.824782
128,Trinidad and Tobago,TTO,115,104,219,10.691803,-61.222503
129,Tunisia,TUN,2345,30,2375,33.886917,9.537499
130,Turkey,TUR,11143758,1405,11363762,38.963745,35.243322
131,Uganda,UGA,21,57,78,1.373333,32.290275
132,Ukraine,UKR,1942,3460,5402,48.379433,31.165580
133,United Arab Emirates,ARE,380,1505,1885,23.424076,53.847818
134,United Kingdom,GBR,34017,5930,39947,55.378051,-3.435973
135,United States,USA,29727,13999,43726,37.090240,-95.712891
136,Uruguay,URY,227,24,252,-32.522779,-55.765835
137,Venezuela,VEN,3,21,24,6.423750,-66.589730
138,Yemen,YEM,11960,4568,16528,15.552727,48.516388
139,Zambia,ZMB,13,27,40,-13.133897,27.849332
140,Zimbabwe,ZWE,0,0,7,-19.015438,29.154857

In [334]:
# was experimenting with removing the "trace 0" when hovering over countries
# removes rows where Country column has nan
dropped_nan_df = all_code_df[pd.notnull(all_code_df['Country'])]
# dropped_nan_df

In [335]:
top_refugee = all_code_df.sort_values('Refugees (incl. refugee-like situations)', ascending=False)
top_refugee = top_refugee.reset_index()
top_refugee = top_refugee.drop(['index'], axis=1)
# rearrange columns
top_refugee = top_refugee[['Country','Refugees (incl. refugee-like situations)',
                           'Asylum-seekers (pending cases)', 'Total Population']]
top_refugee[:15]

,Country,Refugees (incl. refugee-like situations),Asylum-seekers (pending cases),Total Population
0,Turkey,11143758,1405,11363762
1,Lebanon,5186161,1390,5201110
2,Jordan,3377497,3109,3380606
3,Iraq,1233449,4965,1238702
4,Germany,1077967,303798,1381765
5,Egypt,643221,85,643306
6,Sweden,312761,89957,402718
7,Austria,101719,40001,141720
8,Netherlands,90038,17158,107196
9,Armenia,72143,437,78080
10,Denmark,64048,3281,67329
11,Bulgaria,56195,9131,65326
12,Switzerland,43131,20620,63751
13,Greece,41373,25897,75270
14,Libya,35945,63641,99586

In [338]:
# plot out the countries
data = [go.Choropleth(
    locations = all_code_df['CODE'],
    z = all_code_df['Refugees (incl. refugee-like situations)'],
    text = all_code_df['Country'],
    colorscale = [
        [0, "rgb(51, 0, 25)"],
        [0.3, "rgb(102, 0, 51)"],
        [0.5, "rgb(153, 0, 76)"],
        [0.6, "rgb(204, 0, 102)"],
        [0.7, "rgb(255, 51, 153)"],
        [1, "rgb(255, 153, 204)"]
    ],
    zmin = 0,
    zmax = 600000,
    autocolorscale = False,
    reversescale = True,
    marker = go.choropleth.Marker(
        line = go.choropleth.marker.Line(
            color = 'rgb(180,180,180)',
            width = 0.5
        )),
    colorbar = go.choropleth.ColorBar(
        tickprefix = '',
        title = 'Number of Syrian Refugees'),
)]

# following code is for lines connecting countries
countries = [go.Scattergeo(
    lon = dropped_nan_df['longitude'],
    lat = dropped_nan_df['latitude'],
    hoverinfo = 'none',
#     text = dropped_nan_df['COUNTRY'],
    mode = 'none',
#     marker = go.scattergeo.Marker(
#         size = 0,
#         color = 'rgb(255, 0, 0)',
#         line = go.scattergeo.marker.Line(
#             width = 3,
#             color = 'rgba(68, 68, 68, 0)'
#         ))
    )]

refugee_paths = []

syria_start_lon = 38.996815
syria_start_lat = 34.802075
maximum_value = float(dropped_nan_df['Refugees (incl. refugee-like situations)'].max())

for i in range(len(dropped_nan_df)):
    # setting the opacity of the lines
    opacity = 0
    country_refugee = dropped_nan_df['Refugees (incl. refugee-like situations)'][i]
    opacity = float(country_refugee) / maximum_value
    # doing this because otherwise, the lines to countries besides Germany are invisible
    if opacity < 0.25:
        opacity = 0.25
        
    refugee_paths.append(
        go.Scattergeo(
            locationmode = 'country names',
            lon = [syria_start_lon, dropped_nan_df['longitude'][i]],
            lat = [syria_start_lat, dropped_nan_df['latitude'][i]],
            mode = 'lines',
            line = go.scattergeo.Line(
                width = 1,
                color = 'red',
            ),
            opacity = opacity,
        )
    )

layout = go.Layout(
    showlegend = False,
    title = go.layout.Title(
        text = '2011-2018 Syrian Refugee Migration Patterns'
    ),
    
    geo = go.layout.Geo(
        showframe = False,
        showcoastlines = False,
        projection = go.layout.geo.Projection(
#             type = 'azimuthal equal area'
            type = 'equirectangular',
        ),
        showland = True,
        landcolor = 'rgb(243, 243, 243)',
        countrycolor = 'rgb(204, 204, 204)', 
    ),
    
    annotations = [go.layout.Annotation(
        x = 0.55,
        y = 0.1,
        xref = 'paper',
        yref = 'paper',
        text = 'Source: <a href="http://popstats.unhcr.org/en/asylum_seekers_monthly">\
            Asylum-Seekers (Monthly Data)</a>',
        showarrow = False
    )]
)

fig = go.Figure(data = data + refugee_paths + countries, layout = layout)
py.iplot(fig, validate = False, filename = 'd3-world-map')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~hwu43/0 or inside your plot.ly account where it is named 'd3-world-map'